<div infinite-scroll="loadMorePhotos()"
     infinite-scroll-distance="1"
     infinite-scroll-parent="true"
     infinite-scroll-disabled="loadMoreDisabled"
     infinite-scroll-immediate-check="false">
    <div class="photo-wall photo-fluid-container"
         photo-fluid-container="{'size': 'mini', 'itemSelector': '.photo', itemMargin: 1}">
        <div ng-repeat="photo in photos"
             class="photo"
             ponm-hover=">.action">
            <a href=""
               ng-click="displayPhoto(photo.id)">
                <img ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_100w_100h.jpg">

    <!--        <div class="action-select"
                 ng-class="{'action': !selectable, 'ponm-show': selectable}"
                 ng-click="selectPhoto($event, photo)">
                <span class="icon-photo-select"
                      ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
            </div>-->
                <div ng-if="photo.is360">
                    <div class="icon-photo-p360"></div>
                </div>
            </a>
            <div class="action ponm-photo-footer">
                <p>{{photo.point.address}}</p>
                <pre class="description">{{photo.description}}</pre>
            </div>
        </div>
        <!--<div ng-show="photo.currentPage <= photo.numPages"
             class="btn btn-default load-more"
             waypoint="loadMore"
             waypoint-offset="bottom-in-view"
             waypoint-refresh="{{photoLoading}}"
             waypoint-enable="{{photo.currentPage <= photo.numPages}}"
                >{{photoLoading?'loading...':'加载更多'}}</div>-->
    </div>
</div>