<div class="photo-travel">
    <div class="header">
        <h3>{{travel.title}}</h3>
        <div>
            <span class="footnotes">{{travel.photo_size + " "}}张图片</span>
            <span class="footnotes">{{travel.time_start | calculatetime | date:'yyyy/MM/dd'}}{{'  -  '}}{{travel.time_end | calculatetime | date:'yyyy/MM/dd'}}</span>
            <span class="clickable"
                  ng-click="selectAll()">全选</span>
        </div>
    </div>

    <div data-ng-repeat="spot in travel.spots"
         class="spot"
         ui-event="{ mouseenter : 'mouseenter=true', mouseleave: 'mouseenter=false' }"
         ng-class="{'active':mouseenter}">
        <div class="header">
            <h4>第 {{spot.day || '某'}} 天 - {{spot.title}}</h4>
            <div class="item"><span class="footnotes">{{spot.photos.length + " "}}张照片{{"  .  "}}{{spot.time_start | calculatetime | date:'yyyy/MM/dd'}}
                {{"  .  "}}{{spot.address}}</span></div>
            <div class="item"><pre class="description"><span class="footnotes">{{spot.description}}</span></pre></div>
        </div>

        <div photo-fluid-container
             fluid-line-border="0"
             fluid-line-item-margin="1"
             item-selector=".ponm-photo"
             class="photo-fluid-container photo-container">
            <div ng-repeat="photo in spot.photos"
                 ng-controller="PhotosPhotoCtrl"
                 class="fluid-brick ponm-photo photo"
                 ponm-hover>
                <a ng-click="activePhoto(photo)"
                   href="">
                    <img ng-src="{{photo.oss_key && staticCtx + '/' + photo.oss_key + '@!photo-preview-big'}}"
                         ng-class="{'selectable': selectable&&!photo.actionSelected,
                        'selected': photo.actionSelected}">
                </a>

                <div class="action-select"
                     ng-class="{'action': !selectable, 'ponm-show': selectable}"
                     ng-click="selectPhoto($event, photo, spot.photos)">
                    <span class="icon-photo-select"
                          ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
                </div>
                <div ng-if="photo.is360">
                    <div class="icon-photo-p360"></div>
                </div>
            </div>
        </div>

    </div>
</div>