<div class="photo-wall photo-wall-fixed-size photo-selectable-container photo-all"
     infinite-scroll='getUserPhotos()'
     infinite-scroll-distance='1'
     ><!-- infinite-scroll-parent="" -->
    <div ng-repeat="photo in photos"
         ng-controller="PhotosPhotoCtrl"
         class="photo"
         ponm-hover=">.action">
        <a href=""
           ng-click="displayPhoto(photo.id)">
            <img ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_200w_200h_1c.jpg"
                 ng-class="{'selectable': selectable&&!photo.actionSelected,
                        'selected': photo.actionSelected}">
        </a>
        <div class="action-select"
             ng-class="{'action': !selectable, 'ponm-show': selectable}"
             ng-click="selectPhoto($event, photo)">
            <span class="icon-photo-select"
                    ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
        </div>
        <div ng-if="photo.is360">
            <div class="icon-photo-p360"></div>
        </div>
    </div>
    <div ng-show="photo.currentPage <= photo.numPages"
         class="btn btn-default load-more"
         ng-click="getUserPhotos()"
            >{{photoLoading?'loading...':'加载更多'}}</div>
</div>