<div class="photo-travel">
    <div class="header">
        <h3>{{travel.title}}</h3>
        <div>
            <span class="footnotes">{{travel.photo_size + " "}}张图片</span>
            <span class="footnotes">{{travel.time_start | calculatetime | date:'yyyy/MM/dd'}}{{'  -  '}}{{travel.time_end | calculatetime | date:'yyyy/MM/dd'}}</span>
            <span class="clickable"
                  ng-click="selectAll()">全选</span>
            <a href="#/maps/travel/{{travel.id}}">编辑</a>
            <span class="clickable"
                  ng-click="deleteTravel(travel)">删除</span>
        </div>
    </div>

    <div ng-repeat="spot in travel.spots"
         class="spot">
        <div class="header">
            <h4>第 {{spot.day || '某'}} 天 - {{spot.title}}</h4>
            <div class="item"><span class="footnotes">{{spot.photos.length + " "}}张照片{{"  .  "}}{{spot.time_start | calculatetime | date:'yyyy/MM/dd'}}
                {{"  .  "}}{{spot.address}}</span></div>
            <div class="item"><pre class="description"><span class="footnotes">{{spot.description}}</span></pre></div>
        </div>

        <div ng-init="targetHeights={'small': 120, 'medium': 160, 'large': 200}"
             photo-container-fluid="{targetHeight: 160, fadeSpeed: 2000, allowPartialLastRow: true}"
             photo-container-fluid-target-height = "{{targetHeights[photoWallMode]}}"
             class="photo-wall photo-selectable-container">
            <div ng-repeat="photo in spot.photos"
                 ng-controller="PhotosPhotoCtrl"
                 class="photo"
                 ng-style="{'background-color': photo.color}">
                <a ng-click="displayPhoto(photo.id)"
                   href="">
                    <img ng-src="{{photo.oss_key && staticCtx + '/' + photo.oss_key + '@!photo-preview-big'}}"
                         data-width="{{photo.width}}" data-height="{{photo.height}}"
                         ng-class="{'selectable': selectable&&!photo.actionSelected,
                        'selected': photo.actionSelected}">
                    <div ng-if="photo.is360">
                        <div class="icon-photo-p360"></div>
                    </div>
                </a>

                <div class="action-select"
                     ng-class="{'action': !selectable, 'ponm-show': selectable}"
                     ng-click="selectPhoto($event, photo, spot.photos)">
                    <span class="icon-photo-select"
                          ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
                </div>

            </div>
        </div>

    </div>
</div>
