<div class=""
        >

    <div class="navbar-second"
         ng-class="{'navbar-fixed-top': navbarFixedTop}">
        <nav class="navbar navbar-default"
             role="navigation">
            <div class="container">
                <ul class="nav navbar-nav navbar-default">
                    <li><a href="#/yourphotos/all"
                           ng-class="{'active': $state.current.url == '/all'}">所有照片</a></li>
                    <li><a href="#/yourphotos/albums"
                           ng-class="{'active': $state.current.url == '/albums'}">相册</a></li>
                    <li><a href="#/yourphotos/recent"
                           ng-class="{'active': $state.current.url == '/recent'}">最近添加</a></li>
                    <li><a href="#/yourphotos/trash"
                           ng-class="{'active': $state.current.url == '/trash'}">回收站</a></li>
                    <!--<li class="dropdown">
                        <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/yourphotos/trash">回收站</a></li>
                            <li><a href="">功能介绍</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-default navbar-edit"
             role="navigation"
             ng-class="{'ponm-show': selectable}">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle">
                            <img ng-repeat="photo in selectedPhotos | limitTo:5"
                                 ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_36w_36h_1c.jpg">
                            <span>选择了 {{selectedPhotos.length}} 张照片<span class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="photo in selectedPhotos"
                                    class="photo">
                                <img ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_75w_75h_1c.jpg">
                                <div class="action-select ponm-show"
                                     ng-click="selectPhoto($event, photo)">
                                    <span class="icon-photo-select"
                                          ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-default">
                    <li ng-if="navbarType == 'trash'">
                        <a href="" ng-click="cancelRecycle()">恢复</a></li>
                    <li ng-if="navbarType == 'trash'">
                        <a href="" ng-click="removeRecycle()">永久删除</a></li>

                    <li ng-if="navbarType == 'move'">
                        <a href="" ng-click="openMovePhoto()">移动</a></li>
                    <li ng-if="navbarType == 'move'">
                        <a href="" ng-click="deletePhoto()">删除</a></li>
                    <!--<li ng-if="navbarType == 'move'"
                        class="dropdown">
                        <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">回收站</a></li>
                            <li><a href="">功能介绍</a></li>
                        </ul>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-default navbar-btn"
                            ng-click="cancelSelect()">取消选择</button></li>
                </ul>

            </div>
        </nav>
    </div>

    <div ui-view="alerts">

    </div>
    <div class="select-pane"
         ponm-rect-multi-select=".photo"
         ponm-rect-moveselect="true"
         ponm-rect-selector="rectSelected">
        <div class="container-photos"
             waypoint="navbar"
             waypoint-offset="-1"
                >

            <div ui-view>
                <i>Some content will load here!</i>
            </div>
        </div>
    </div>

</div>