<div class="container login">

  <div class="page-header">
    <h1 class="text-center">登录
      <small>或<a ui-sref="signup">注册</a></small>
    </h1>
  </div>
  <div class="form-header">
    <span ng-show="loginError&&!userForm.$dirty">用户名或密码错误</span>
  </div>
  <form class="col-md-12"
        method="post"
        action="/login/j_spring_security_check"
        name="userForm"
        novalidate>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" class="form-control" placeholder="用户名/邮箱"
             name="j_username"
             ng-model="credentials.username"
             required>
    </div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" class="form-control" placeholder="密码"
             name="j_password"
             ng-model="credentials.password"
             required>
    </div>
    <span class="help-block"></span>
    <div class="row">
      <div class="col-xs-7 ">
        <div class="checkbox">
          <label>
            <input type="checkbox"> 记住密码
          </label>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <button class="btn btn-primary btn-block"
                  ng-disabled="userForm.$invalid">登录</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <span>忘记密码？</span>
        <a href="" ng-click="passwordHint()">发送邮件</a>
      </div>
    </div>

    <hr/>
    <!-- Login with Social Buttons - START -->

    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <a class="btn btn-primary btn-block"
                href="/signin/tencent">qq</a>
      </div>
      <div class="col-md-4 col-sm-4">
        <a class="btn btn-info btn-block"
                href="/signin/weibo">weibo</a>
      </div>
      <div class="col-md-4 col-sm-4">
        <button type="button" class="btn btn-danger btn-block">Google+</button>
      </div>
    </div>

    <hr/>

  </form>
  <!-- Login with Social Buttons - END -->

</div>
