<div class="ponm-photo-container">
    <div class="loading">
      <progressbar animate="false" value="imagePercentComplete" type="success">
        <b>{{imagePercentComplete}}%</b>
      </progressbar>
        <div class="loader"></div>
        <!--<span class="glyphicon glyphicon-refresh icon-refresh-animate"></span>-->
    </div>
    <div class="flat-image">
        <div class="flat-canvas"></div>
        <a href="" class="image-button"><div class="icon-p360"></div></a>
    </div>
    <div class="p360-image">
        <div class="p360-canvas"></div>
        <a class="image-button" href=""><div class="icon-pflat"></div></a>
    </div>
</div>
