<div class="panel panel-default">
    <div class="panel-heading">
        <h2>密码</h2>
        <p>更改你的密码或找回当前密码。</p>
    </div>
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>
            <a href="/devices">关联你的手机</a> 使你的 Twitter 账号更加安全。
            <a href="https://support.twitter.com/articles/14663?utm_source=14663&amp;utm_medium=website&amp;utm_campaign=inproduct#SMSreset" target="_blank">了解更多。</a>
        </p>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form" name="passwordForm"
                ng-submit="changePassword()">
            <div class="form-group">
                <label for="inputPassword1" class="col-sm-2 control-label">当前密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="当前密码"
                            name="current_password"
                            ng-model="password.current_password" required>
                    <p>
                        <a href="/account/resend_password" id="forgot_password">忘记密码了?</a>
                        <span id="reminder_sent" style="visibility: hidden">提醒已发送!</span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="新密码"
                            name="password"
                            ng-model="password.password" required>

                </div>
                <div class="col-sm-4"><ul class="password-strength" password-strength="password.password"></ul></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="确认密码"
                            name="password_confirmation"
                            password-match="password.password"
                            ng-model="password.confirm_password" required>
                    <span ng-show="passwordForm.password_confirmation.$dirty && passwordForm.password_confirmation.$error.unique">密码不一致</span>
                </div>
                <div class="col-sm-4"><ul class="password-strength" password-strength="password.confirm_password"></ul></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="保存更改"
                           ng-disabled="saving||!passwordForm.$dirty">
                </div>
            </div>
        </form>
    </div>

</div>