<div id="mapsel" class="panel panel-default">
    <div class="panel-heading">
        <h2>照片和视频</h2>
        <p>设置图片和视频</p>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form" name="photoForm" ng-submit="changeUpload()">
            <div class="form-group">
                <div class="checkbox col-sm-10">
                    <label>
                        <input type="checkbox" name="autoUpload"
                                ng-model="settings.auto_upload"> 添加照片后就自动上传。
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-sm-10">
                    <label>
                        <input type="checkbox" name="completeSize"
                               ng-model="completeSize"> 以完整尺寸上传我的照片。
                    </label>
                </div>
            </div>
            <div class="col-sm-12" style="padding: 10px;">

                <progress>
                    <bar ng-repeat="bar in capacity.stacked track by $index" value="bar.value" type="{{bar.type}}">
                        <span ng-hide="bar.type!=capacity.type">{{capacity.value}}%</span>
                    </bar>
                </progress>

                <div>
                    已用存储空间：{{settings.storage_space | bytes}}，占总容量 10 GB 的 {{storageRate}}%。
                </div>
                <div class="text-muted">
                    打开完整尺寸上传会降低上传速度。
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="保存更改"
                           ng-disabled="saving||!photoForm.$dirty">
                </div>
            </div>
        </form>

    </div>
</div>