<div class="user-followers">

    <div class="container-fluid">
        <div ng-repeat="follower in followers" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 follower">
            <div ponm-profile-card owner="user" user="follower"></div>
        </div>
        <div ng-repeat="follower in followers" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 follower">
            <div class="ProfileCard">

            </div>
        </div>
        <div ng-repeat="follower in followers" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 follower">
            <div class="ProfileCard">

            </div>
        </div>
    </div>

</div>