html, body, .container .row, td {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.navbar.navbar-fixed-top {
	position: static;
	margin: 0;
}

#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.front-root {
    height: 100%
}