html body {
    margin: 0px;
}

#map-canvas {
    height: 100%;
    width: 70%;
    margin: 0px;
    padding: 0px
}

.front-root {
    position: absolute;
    width: 100%;
    height: 100%
}

.table {
   position: relative;
   top: 30px;
   height: 90%;
}