<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <title>jQuery File Upload Demo</title>
    <meta name="description"
          content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery.rest/dist/jquery.rest.js"></script>

    <!-- angularjs -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="bower_components/eventie/eventie.js"></script>
    <script type="text/javascript" src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>

    <script type="text/javascript" src="scripts/panor/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="scripts/panor/js/jquery.panzoom.js"></script>
    <script type="text/javascript" src="scripts/panor/js/three.min.js"></script>

    <script type="text/javascript" src="scripts/ponmApp.min.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.directives.min.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.controllers.min.js"></script>
    <script type="text/javascript" src="scripts/controllers/ExploreWorldCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/PhotoModalCtrl.js"></script>
    <!--<script type="text/javascript" src="scripts/directives/ponmMapControls.js"></script>-->

    <!-- Map vendor -->
    <!--    <script type="text/javascript" src="scripts/panor/panoramio/cnmap.comm.js"></script>
        <script type="text/javascript" src="scripts/panor/panoramio/cnmap.Panoramio.js"></script>-->
    <script type="text/javascript" src="scripts/panor/scripts.min.js"></script>

    <script src="http://webapi.amap.com/maps?v=1.2&key=53f7e239ddb8ea62ba552742a233ed1f" type="text/javascript"></script>
    <script type="text/javascript" src="bower_components/angular-ui-mapgaode/ui-map.js"></script>
    <script type="text/javascript" src="scripts/panor/gaode/MapEventListenerImpl.js"></script>
    <script type="text/javascript" src="scripts/panor/gaode/MapServiceImpl.js"></script>
    <script type="text/javascript" src="scripts/panor/panoramio/cnmap.gaode.js"></script>

    <!--<script charset="utf-8" src="http://map.qq.com/api/js?v=2.0&key=ZYZBZ-WCCHU-ETAVP-4UZUB-RGLDJ-QDF57&libraries=drawing"></script>
    <script type="text/javascript" src="bower_components/angular-ui-map-qq/ui-map.js"></script>
    <script type="text/javascript" src="scripts/panor/qq/MapEventListenerImpl.js"></script>
    <script type="text/javascript" src="scripts/panor/panoramio/cnmap.qq.js"></script>-->

    <!--<script type="text/javascript" src="panor/panoramio/cnmap.baidu.js"></script>
    <script type="text/javascript" src="panor/js/cnmap.baidu.js"></script>
    <script type="text/javascript" src="panor/js/explore/cnmap.explore.baidu.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=41cd06c76f253eebc6f322c863d4baa1"></script>-->

    <!-- Custom styles for this template -->
    <link href="styles/main.css" rel="stylesheet">

    <script type="text/javascript">
//        var ctx = "http://115.28.21.165";
        var ctx = "http://127.0.0.1:8080/panor-web";
        var apirest = ctx + "/api/rest";
        var login = true;
        var userId = "1";
        window.staticCtx = "http://test.photoshows.cn";
//        window.ponmConfig = {
//            staticCtx: "http://static.photoshows.cn/"
//        }
    </script>
</head>

<body>

<div class="container-explore-map" ng-app="exploreWorldApp" ng-controller="ExploreWorldCtrl">
    <div class="col-main">
        <div class="map-container">
            <div id="map-canvas" ui-map="myMap" ui-options="mapOptions"></div>
            <div class="map-controls"
                 ponm-map-controls
                 ponm-map="myMap"
                 ponm-map-service="mapService"
                 ponm-map-event-listener="mapEventListener">

            </div>
        </div>
    </div>
    <div class="col-info" >
        <div id="thumbinnerarea">
            <ul class="nav nav-pills">
                <li data-ng-class="{'active': tabs.map}">
                    <a data-ng-click="setPanormaioType('map')" href="">
                        热门照片<span style="display:none" class="total_photos"> (2294)</span>
                        <img class="loading" src="images/loading-p.gif" alt="读取中" style="display: none;">
                    </a>
                </li>
                <li id="tab_li_2" data-ng-class="{active: tabs.latest}">
                    <a data-ng-click="setPanormaioType('latest')" href="">最新照片<span style="display:none" class="total_photos"></span>
                        <img class="loading hide" src="images/loading-p.gif" alt="读取中">
                    </a>
                </li>
                <li id="tab_li_3" data-ng-class="{active: tabs.favorite}">
                    <a data-ng-click="setPanormaioType('favorite')" href="">收藏<span style="display:none" class="total_photos"></span>
                        <img class="loading hide" src="images/loading-p.gif" alt="读取中">
                    </a>
                </li>
                <li id="tab_li_4" data-ng-class="{active: tabs.user}"
                        data-ng-show="user.id">
                    <a data-ng-click="setPanormaioType('user')" href="">{{user.name}}<span class="footnote">的照片</span><span style="display:none" class="total_photos"></span>
                        <img class="loading hide" src="images/loading-p.gif" alt="读取中">
                    </a>
                </li>
            </ul>

            <div id="preview">
                <div class="preview_thumb_area" ng-repeat="photo in photos" id="pid{{photo.photoId}}" style="height: 112px;">
                    <a href=""
                       data-ng-click="displayPhoto(photo.photo_id)">
                        <img title=""
                             id="r{{photo.photo_id}}"
                             ng-src="{{staticCtx}}/{{photo.oss_key}}@!album-thumbnail">
                    </a>
                </div>
            </div>
            <ul class="pager">
                <li class="previous" ng-hide="photoStart"><a href ng-click="prePhoto()">&larr; Older</a></li>
                <li class="next" ng-hide="photoEnd"><a href ng-click="nextPhoto()">Newer &rarr;</a></li>
            </ul>
        </div>
    </div>

    <!-- 一键分享组件 -->
    <div bd-share
         class="bd-share"
         data-ng-class="{'active': mouseEnter}">
    </div>
</div>

<script id="bdshell_js" type="text/javascript"></script>
</body>


  