<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>a travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jquery.rest/dist/jquery.rest.min.js"></script>

    <!-- angularjs -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/event.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="bower_components/eventie/eventie.js"></script>
    <script type="text/javascript" src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/event.js"></script>

    <script type="text/javascript" src="scripts/panor/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="scripts/panor/js/jquery.panzoom.js"></script>
    <script type="text/javascript" src="scripts/panor/js/three.min.js"></script>

    <script type="text/javascript" src="scripts/ponmApp.min.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.controllers.min.js"></script>
    <script type="text/javascript" src="scripts/controllers/ATravelCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/PhotoModalCtrl.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.directives.min.js"></script>

    <script type="text/javascript" src="scripts/panor/scripts.min.js"></script>
    <!--<script type="text/javascript" src="scripts/panor/MapTravel.js"></script>-->

    <!-- Map vendor -->
    <script src="http://webapi.amap.com/maps?v=1.2&key=53f7e239ddb8ea62ba552742a233ed1f" type="text/javascript"></script>
    <script type="text/javascript" src="bower_components/angular-ui-mapgaode/ui-map.js"></script>
    <script type="text/javascript" src="scripts/panor/gaode/MapEventListenerImpl.js"></script>
    <script type="text/javascript" src="scripts/panor/gaode/MapServiceImpl.js"></script>
    <script type="text/javascript" src="scripts/panor/gaode/MapTravelImpl.js"></script>

    <script type="text/javascript">
        window.ctx = "http://115.28.21.165";
//        window.ctx = "http://127.0.0.1:8080/panor-web";
        window.apirest = window.ctx + "/api/rest";
        window.userId = 1;
        window.login = 1;
    </script>
</head>
<body>
<div class="container travel" ng-app="aTravelApp" ng-controller="ATravelCtrl">
    <div class="container left-map">
        <div class="map-container">
            <div class="map-canvas" ui-map="myMap" ui-options="mapOptions"></div>
            <div class="map-plugins">

            </div>
        </div>
    </div>
    <div class="container right-content" ng-click="getTravel()"
         ui-event="{ scroll : 'scrollCallback($event)' }">

        <div class="page-header travel-header">
            <div class="media user-info">
                <a class="pull-left" href="{{ctx}}/user#?id={{travel.user_id}}">
                    <img class="media-object img-circle" ng-src="{{apirest}}/user/{{travel.user_id || 1}}/avatar">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{travel.username}}</h4>
                    <div>
                        <div class="title">{{travel.title}}</div>
                        <span class="footnotes">{{'  ' + (travel.time_start | date:'yyyy/MM/dd') + ' - ' + (travel.time_end | date:'yyyy/MM/dd') }}</span>
                    </div>
                </div>
            </div>

            <div class="travel-desc">
                <div ng-switch="travelEnedit">
                    <a ng-switch-when="true"
                       href="#"
                       class="editable"
                       editable-textarea="travel.description" e-rows="4" e-cols="40"
                       onbeforesave="updateTravel(travel, $data)">
                        <pre class="description">{{ travel.description || '添加描述' }}</pre>
                    </a>
                    <pre class="description"
                         ng-switch-default>{{travel.description}}</pre>
                </div>
            </div>
        </div>

        <div class="container travel-content">
            <div class="panel panel-default"
                    ng-repeat="spot in travel.spots">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="travel-circle-header" >
                        <a href="" data-ng-click="activeSpot(spot)">
                            <div class="spot-date">
                                <span class="spot-date-txt ">{{spot.day}}</span>
                                <span class="spot-date-flag">DAY</span>
                                <span class="spot-date-flag">{{spot.time_start | date:'yyyy/MM/dd'}}</span>
                            </div>
                        </a>
                        <div>
                            <div ng-switch="travelEnedit">
                                <a ng-switch-when="true"
                                   href="#" editable-text="spot.title"
                                   onbeforesave="updateSpot(travel, spot, 'title', $data)">{{ spot.title || '添加标题' }}</a>
                                <h4 ng-switch-default>{{spot.title}}</h4>
                            </div>
                        </div>
                        <div class="info" >
                            <div ng-switch="travelEnedit" class="editable">
                                <a href=""
                                   ng-switch-when="true"
                                   editable-select="spot.address" e-ng-options="addr as addr for (addr, point) in spot.addresses"
                                   buttons="no"
                                   onbeforesave="updateSpot(travel, spot, 'address', $data)">
                                    {{ showSpotAddress(spot) }}
                                </a>
                                <address ng-switch-default>{{ spot.address }}</address>
                            </div>
                        </div>
                        <div ng-switch="travelEnedit">
                            <div class="editable">
                                <a ng-switch-when="true"
                                   href="#" editable-textarea="spot.description" e-rows="4" e-cols="40"
                                   onbeforesave="updateSpot(travel, spot, 'description', $data)">
                                    <pre>{{ spot.description || '添加描述' }}</pre>
                                </a>
                            </div>

                            <pre class="description" ng-switch-default>{{ spot.description }}</pre>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div photo-fluid-container
                         class="photo-fluid-container">
                        <a ng-repeat="photo in spot.photos"
                           ng-click="activePhoto(photo)"
                           href=""
                           class="fluid-brick ponm-photo"
                           ponm-photo="photo"
                                >
                            <img ng-src="{{apirest}}/photo/{{photo.id}}/2">
                            <div class="action ponm-photo-footer">
                                <p>{{photo.point.address}}</p>
                                <pre class="description">{{photo.description}}</pre>
                            </div>
                            <div ng-show="travelEnedit"
                                 class="action ponm-photo-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>