<!doctype html >
<html>
<head>
    <meta charset="utf-8">

    <title>basic</title>

    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"/>
    <link rel="stylesheet" href="styles/main.css"/>

    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/jquery.rest/dist/jquery.rest.min.js"></script>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/event.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-mapgaode/src/ui-map.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>

    <script type="text/javascript" src="scripts/panor/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="scripts/panor/js/jquery.panzoom.js"></script>

    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>

    <script type="text/javascript" src="scripts/ponmApp.min.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.controllers.min.js"></script>
    <script type="text/javascript" src="scripts/ponmApp.directives.min.js"></script>
    <script type="text/javascript" src="scripts/directives/PhotoFluidContainer.js"></script>
    <script type="text/javascript" src="scripts/controllers/UserPageCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/PhotoModalCtrl.js"></script>

    <script src="http://webapi.amap.com/maps?v=1.2&key=53f7e239ddb8ea62ba552742a233ed1f"
            type="text/javascript"></script>

    <script type="text/javascript" src="scripts/panor/scripts.min.js"></script>
    <script type="text/javascript" src="scripts/panor/scripts.gaode.min.js"></script>

    <script type="text/javascript">
        window.ctx = "http://127.0.0.1:8080/panor-web";
        window.apirest = "http://127.0.0.1:8080/panor-web/api/rest";
        window.userId = 1;
    </script>
</head>
<body>
<div class="container" ng-app="userPageApp"
     data-ng-controller="UserCtrl">

    <div class="photo-col" >

        <div id="user-page_main-header">
            <div class="user-page_main-header_card">
                <img ng-src="{{apirest}}/user/{{userId}}/avatar" width="120" height="120" alt="" class="user_page-profile_img">

                <div id="user_profile_info">
                    <div class="user-page_profile_info user-page_main-lede">
                        ${userSettings.name}
                    </div>

                    <div id="profile_icons_user">
                        <a class="icon_sprite icon_link" href="http://" title=""></a>
                    </div>

                    <div id="user_header" style="display: block;">
                        <div class="user_header-best-or-all">
                            <a class="user-page-best-enabled" href="/user/{{userId}}?show=best">Best photos</a>
                            <span class="user-page-best-disabled">All photos</span>
                        </div>
                        <a href="map/?user={{userId}}">
                            <img id="user_header-icon"
                                 ng-src="images/marker.png"
                                 height="16" alt="">
                            <span id="user_header-map">view on map</span>
                        </a>

                    </div>

                </div>
            </div>

            <div class="user-page_main-header_card_stats user-page_main-header_card">

                <div id="top-line-stats">
                    <div class="user-page_top-line-stat">
                        <div class="user-page_top-line-stat-value">
                            <a href="{{ctx}}/user/{{userId}}/stats">{{userOpenInfo.photo_count}}</a>
                        </div>
                        <div class="user-page_top-line-stat-label">
                            张图片
                        </div>
                    </div>
                    <div class="user-page_top-line-stat">
                        <div class="user-page_top-line-stat-value">
                            <a href="/user/{{userId}}/stats">{{userOpenInfo.photo_favorites}}</a>
                        </div>
                        <div class="user-page_top-line-stat-label">
                            张被收藏
                        </div>
                    </div>

                    <div class="user-page_top-line-stat">
                        <div class="user-page_top-line-stat-value">
                            <a href="/user/{{userId}}/stats">{{userOpenInfo.photo_views}}</a>
                        </div>
                        <div class="user-page_top-line-stat-label">
                            次被查看
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="paginator-wrapper" data-ng-show="photo.totalItems > 0">
            <pagination items-per-page="photo.pageSize"
                        total-items="photo.totalItems"
                        ng-model="photo.currentPage"
                        max-size="photo.maxSize"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="photo.numPages"></pagination>
        </div>

<!--        <div>
            <div class="masonry-block"
                 ng-repeat="photo in photos"
                 style="">
                    <img ng-src="{{apirest}}/photo/{{photo.id}}/2" class="item-img" alt="{{photo.title}}">
            </div>
        </div>-->

        <div photo-fluid-container="photos"
             item-selector=".fluid-brick"
             class="photo-fluid-container"
             fluid-line-max-height="200"
             fluid-line-min-height="100">
            <a ng-repeat="photo in photos"
               ng-click="activePhoto(photo)"
               href=""
               class="fluid-brick ponm-photo"
               ponm-photo
                    >
                <img ng-src="{{apirest}}/photo/{{photo.id}}/2">
                <div class="action ponm-photo-footer">
                    <p>{{photo.point.address}}</p>
                    <pre class="description">{{photo.description}}</pre>
                </div>
                <div ng-show="editable"
                     class="action ponm-photo-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </a>
        </div>

        <!--<div class="masonry-container masonry" masonry="{columnWidth: 200, isAnimated: true animationOptions: {
                                                                                                                duration: 750,
                                                                                                                easing: 'linear',
                                                                                                                queue: false
                                                                                                              }}"
             preserve-order>
            <div id="masonry-{{photo.id}}"
                 class="masonry-brick"
                 ng-repeat="photo in photos"
                 masonry-brick
                 ng-style="{'background-color': photo.backgroundColor}">
                <a href="{{ctx}}/photo/{{photo.id}}">
                    <img ng-src="{{apirest}}/photo/{{photo.id}}/2" class="item-img" alt="{{photo.title}}"></a>

                <div class="thumb-overlay">
                    <div class="thumb-overlay-text" style="max-width: 189.2885400512707px">
                        <a href="/photo/52034419">{{photo.title}}</a></div>
                    <div class="thumb-overlay-icons" style="max-width: 189.2885400512707px">
                        <div class="thumb-overlay-icon">
                            <img ng-src="{{ctx}}/images/marker.png"
                                 title="Selected for Google Maps and Google Earth"
                                 width="11" height="16" alt="">
                        </div>
                        <div class="thumb-overlay-icon">
                            <a href="/photo/52034419/stats"><span id="counter_5203441">274073 次查看</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="paginator-wrapper" data-ng-show="photo.totalItems > 0">
            <pagination items-per-page="photo.pageSize"
                        total-items="photo.totalItems"
                        ng-model="photo.currentPage"
                        max-size="photo.maxSize"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="photo.numPages"></pagination>
        </div>
    </div>
    <div class="info-col">
        <div class="interim-info-card" id="user_page-map_card">
            <div class="user_page-map" id="user_page-map" ui-map="minimap" ui-options="mapOptions">
            </div>
        </div>

        <div class="interim-info-card">
            <h3>标签</h3>
            <ul class="interim-tags">
                <li data-ng-repeat="tag in userOpenInfo.tags">
                    <a href="{{ctx}}/user/{{userId}}#?tag={{tag}}">{{tag}}</a>
                </li>
            </ul>
        </div>

        <div class="interim-info-card">
            <h3>旅行</h3>
            <ul class="interim-tags">
                <li data-ng-repeat="travel in travels">
                    <a href="{{ctx}}/travel#?id={{travel.id}}">{{travel.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    docReady(function () {
//        var container = document.querySelector('.masonry-container');
//        var msnry = new Masonry(container, {
//            columnWidth: 60
//        });

//        var map = cnmap.initMap("user_page-map", {
//            toolbar: true,
//            ruler: false,
//            maptype: true
//        })
//        cnmap.setZoom(1);

//        var panoramioLayer = new cnmap.PanoramioLayer({suppressInfoWindows: false, mapVendor: window.mapVendor});
//        panoramioLayer.initEnv(ctx);
//        panoramioLayer.setMap(map);
    });
</script>

</body>
</html>
