/*.dialog {*/
    /*height: 100%;*/
/*}*/

.modal-dialog {
     width: auto;
    height: 96%;
    margin: 10px;
}

.modal-content {
    height: 100%;
}

.modal-body {
    height: 90%;
}

.photo_list_and_map {
    position: static;
    /*top: 100px;*/
    /*left: 20px;*/
    /*right: 20px;*/
    /*bottom: 20px;*/
    height: 100%;
}

.photo_list_and_map .photo_list_panel {
    display: inline-block;
    float:left;
    position: relative;
    height: 100%;
    vertical-align: top;
    width: 20%;
    max-width: 200px;
    margin: 0 5px 0 0;
    zoom: 1;
}

.photo_list_and_map .map_panel {
    position: static;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
}

.selected_photo_editor {
  position: static;
}

.selected_photo_editor .thumbnail {
    float: left;
}

.map_panel #upload-map {
    position: relative;
    width: 100%;
    /*left: -200px;*/
    margin: 0;
    height: 72%;
}

.map_photo_thumbnail {
width: 80%;
max-width: 60px;
}

.map_photo_title {
    word-break:break-all;
    word-wrap:break-word;
}
