<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../styles/main.css">

    <script type="text/javascript" src="../scripts/ponmApp.vendor.min.js"></script>

    <script type="text/javascript" src="../scripts/ponmApp.min.js"></script>
    <!--<script type="text/javascript" src="../scripts/ponmApp.directives.min.js"></script>-->
    <script type="text/javascript" src="../scripts/ponmApp.controllers.min.js"></script>
    <script type="text/javascript" src="../scripts/directives/filters.js"></script>
    <script type="text/javascript" src="../scripts/directives/photo-container-fluid.js"></script>
    <script type="text/javascript" src="ponmPhotoFluidContainer.js"></script>
    <script type="text/javascript" src="../scripts/panor/scripts.min.js"></script>

    <!-- Map vendor -->
    <script src="http://webapi.amap.com/maps?v=1.2&key=53f7e239ddb8ea62ba552742a233ed1f" type="text/javascript"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-mapgaode/ui-map.js"></script>
    <script type="text/javascript" src="../scripts/panor/gaode/MapEventListenerImpl.js"></script>
    <script type="text/javascript" src="../scripts/panor/MapTravel.js"></script>
    <script type="text/javascript" src="../scripts/panor/gaode/MapServiceImpl.js"></script>
    <script type="text/javascript" src="../scripts/panor/gaode/MapTravelImpl.js"></script>

    <script type="text/javascript">
//                window.ctx = "http://115.28.21.165";
//        window.ctx = "http://127.0.0.1:8080/panor-web";
        window.ctx = "http://www.photoshows.cn";
        window.apirest = window.ctx + "/api/rest";
    </script>
</head>
<body data-ng-app="ponmApp.test">
    <div class="" ng-controller="photoFluidContainerCtrl">
        <div ng-repeat="spot in travel.spots">
            <div style="clear: both;"></div>
            <div photo-container-fluid="{'size': 'mini', 'itemSelector': '.photo', itemMargin: 1}"
                 photos="spot.photos"
                 class="photo-wall">
                <div ng-repeat="photo in spot.photos"
                     class="fluid-brick photo"
                     ng-controller="spotCtrl">
                    <a ng-click="activePhoto(photo)"
                            href=""
                            style="display: block"
                            >
                        <img ng-src="{{photo.oss_key && staticCtx + '/' + photo.oss_key + '@!photo-preview-big'}}"
                                ng-style="{width: photo.fluid.width+'px', height: photo.fluid.height+'px'}">
                    </a>
                </div>

            </div>
        </div>

    </div>
</body>
</html>