<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../bower_components/sass-bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">

    <script type="text/javascript" src="../scripts/ponmApp.vendor.min.js"></script>

    <script type="text/javascript" src="../bower_components/angular-ui-map-qq/ui-map.js"></script>

    <script type="text/javascript" src="../scripts/ponmApp.min.js"></script>
    <script type="text/javascript" src="../scripts/directives.js"></script>
    <script type="text/javascript" src="../scripts/directives/tag-picker.js"></script>
    <script type="text/javascript" src="../scripts/services/jsUtils.js"></script>
    <script type="text/javascript" src="TravelPicker.js"></script>
</head>
<body ng-app="travelPickerApp" ng-controller="TravelPickerCtrl">
    <item-picker ng-model="atravel1" load-data="loadTravelData" new-data="newTravelData"
                 ></item-picker>

    <item-picker ng-model="atravel2" load-data="loadTravelData" new-data="newTravelData"
                 multiple-select=")("></item-picker>

    <item-picker ng-model="atravel3" load-data="loadItemObj" new-data="newItemObj" item-value-name="name"
                 ></item-picker>


    <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Left</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>
</body>
</html>