<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><span>定位</span> 你的照片</h4>
</div>
<div class="modal-body">
    <div class="photo_list_and_map">

        <div class="photo_list_panel">
            <div class="list-group">
                <div data-ng-repeat="file in files"
                     ng-animate="'repeat'"
                     data-ng-class="{'active': file.active}"
                     class="list-group-item"
                     data-ng-click="activePhoto(file)"
                     style="display: inline-block">

                    <div ng-if="!!file.thumbnailUrl">
                        <a href="#" style="width: 100%; height: 100%">
                            <div class="preview">
                                <a data-ng-href="{{file.url}}" title="{{file.name}}">
                                    <img data-ng-src="{{file.thumbnailUrl}}" alt="">
                                </a>
                            </div>
                        </a>
                    </div>
                    <div ng-if="!file.thumbnailUrl">
                        <a href="#" style="width: 100%; height: 100%">
                            <div class="preview" data-file-upload-preview="file.modal"></div>
                        </a>
                    </div>
                    <div data-ng-show="file.lat || file.mapVendor.lat" class="map_photo_marker"></div>
                </div>

            </div>
        </div>
        <div class="map_panel">
            <div id="selected-photo-editor" class="selected_photo_editor">
                <div class="properties">
                    <div id="loc-preview" class="thumbnail">
                        <div class="preview" data-file-upload-preview="file.loc_preview"></div>
                    </div>
                    <form id="geocoder_form" class="form" ng-controller="TypeaheadCtrl"
                          ng-submit="goLocation(asyncSelected)">
                        <div class="col-12">
                            <!--<div class="input-group input-group-sm">
                                <input ng-model="address" type="text" class="form-control">
                                            <span id="location-search-go" class="input-group-btn">
                                               <button type="submit" class="btn btn-default">Go!</button>
                                             </span>
                            </div>-->
                            <!-- /input-group -->
                            <div class="input-group input-group-sm">
                                <input type="text"
                                       ng-model="asyncSelected"
                                       placeholder="搜索地址"
                                       typeahead="address as address.formattedAddress for address in getLocation($viewValue) | filter:$viewValue"
                                       typeahead-loading="loadingLocations"
                                       class="form-control"
                                        >
<!--                                <input type="text"
                                       ng-model="asyncSelected"
                                       placeholder="搜索地址"
                                       typeahead="address as address.formatted_address for address in getLocation($viewValue) | filter:$viewValue"
                                       typeahead-loading="loadingLocations"
                                       class="form-control"
                                        >-->
                                <span class="input-group-btn">
                                   <button type="submit" class="btn btn-default">Go!</button>
                                 </span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            </div>
                        </div>

                    </form>

                    <div id="the-place" class="no_place disabled place_search_bar">
                        <span class="lat">{{file.mapVendor.latPritty}} {{file.mapVendor.latPritty && file.latRef}}</span>
                        <span class="comma">{{((file.mapVendor.lat && file.mapVendor.lng) && ", ") || "[GPS地址]"}}</span>
                        <span class="lng">{{file.mapVendor.lngPritty}} {{file.mapVendor.lngPritty && file.lngRef}}</span>
                    </div>
                    <div class="coder_place">
                        <a href=""
                           editable-select="file.mapVendor.address" e-ng-options="addr as addr for (addr, point) in file.mapVendor.addresses"
                           buttons="no">
                            {{ file.mapVendor.address || "[解析地址]"}}
                        </a>
                        <!--<div id="the-address" class="original_place_name">{{file.mapVendor.address || "[解析地址]"}}</div>-->
                    </div>
                    <label class="is360_info">
                        <input type="checkbox" data-ng-model="file.mapVendor.is360">是360°全景照片</label>

                    <div>
                        点击地图设置拍摄地点
                    </div>
                </div>
            </div>
            <div id="upload-map" class="map">
                <div style="width: 100%; height: 100%">
                    <div id="map_canvas" ui-map="myMap" ui-options="mapOptions">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">保存，完成</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>