<div class="container dynamic-container">
    <div dynamic-messages-layout
         column-width="250"
         column-size="columnSize"
         ></div>
    <div class="btn btn-default btn-block loadmore"
         ng-if="!messageManager.ended"
         waypoint="{'offset': 'bottom-in-view'}"
         on-waypoint="onLoadWaypoint($element, $direction)"
         ng-click="onLoadWaypoint()">
      <div class="loader loader-loading">
        <!--<div class="loading-slide">
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="slide"></div>
        </div>-->
        <div class="loading-quarter-circle"></div>
      </div>
      <span>加载中</span>
    </div>
    <div style="height: 50px; width: 100%;"></div>
</div>
