<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="modal-header">
    <h3 class="modal-title">更改图片位置</h3>
    <button type="button" class="close" aria-hidden="true"
            data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body">
<div class="map_panel container">

    <div id="selected-photo-editor" class="selected_photo_editor">
        <div class="properties">
            <div id="loc-preview" class="thumbnail">
                <img class="preview" data-ng-src="{{apirest}}/photo/{{photoId}}/2">
            </div>
            <form id="geocoder_form" class="form" ng-controller="TypeaheadCtrl" ng-submit="goLocation(asyncSelected)">
                <div class="col-12">
                    <!--<div class="input-group input-group-sm">
                        <input ng-model="address" type="text" class="form-control">
                                    <span id="location-search-go" class="input-group-btn">
                                       <button type="submit" class="btn btn-default">Go!</button>
                                     </span>
                    </div>-->
                    <!-- /input-group -->
                    <div class="input-group input-group-sm">
                        <input type="text"
                               ng-model="asyncSelected"
                               placeholder="搜索地址"
                               typeahead="address as address.address for address in getLocation($viewValue) | filter:$viewValue"
                               typeahead-loading="loadingLocations"
                               class="form-control"
                                >
                                <span class="input-group-btn">
                                   <button type="submit" class="btn btn-default">Go!</button>
                                 </span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    </div>
                </div>

            </form>

            <div id="the-place" class="no_place disabled place_search_bar">
                <span class="lat">{{file.mapVendor.latPritty}} {{file.latRef}}</span>
                <span class="comma">{{((file.mapVendor.lat && file.mapVendor.lng) && ", ") || "[GPS地址]"}}</span>
                <span class="lng">{{file.mapVendor.lngPritty}} {{file.lngRef}}</span>
            </div>
            <div class="coder_place">
                <a href=""
                   editable-select="file.mapVendor.address" e-ng-options="addr as addr for (addr, point) in file.mapVendor.addresses"
                   buttons="no">
                    {{ file.mapVendor.address || "[解析地址]"}}
                </a>
                <!--<div id="the-address" class="original_place_name">{{file.mapVendor.address || "[解析地址]"}}</div>-->
            </div>
            <label class="is360_info">
                <input type="checkbox" data-ng-model="file.is360">是360°全景照片</label>

            <div>
                点击地图设置拍摄地点
            </div>
        </div>
    </div>
    <div class="map-photo-map">
        <div style="width: 100%; height: 100%">
            <div id="map_canvas" ui-map="myMap" ui-options="mapOptions">
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">保存</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>