<div infinite-scroll="loadMorePhotos()"
     infinite-scroll-distance="1"
     infinite-scroll-disabled="loadMoreDisabled"
     infinite-scroll-immediate-check="false">
    <div class="photo-wall photo-fluid-container"
         photo-container-fluid="{targetHeight: 160, fadeSpeed: 2000, allowPartialLastRow: true}">
        <div ng-repeat="photo in photos"
             class="photo"
             ng-style="{'background-color': photo.color}">
            <a href=""
               ng-click="displayPhoto(photo.id)">
                <img ng-src="{{staticCtx}}/{{photo.oss_key}}@!photo-preview-sm"
                     data-width="{{photo.width}}" data-height="{{photo.height}}">

    <!--        <div class="action-select"
                 ng-class="{'action': !selectable, 'ponm-show': selectable}"
                 ng-click="selectPhoto($event, photo)">
                <span class="icon-photo-select"
                      ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
            </div>-->
                <div ng-if="photo.is360">
                    <div class="icon-photo-p360"></div>
                </div>
            </a>
          <div class="action-container">
            <div class="action ponm-photo-footer">
              <h6>{{photo.point.address}}</h6>
              <pre class="description">{{photo.description}}</pre>
            </div>
          </div>

        </div>
        <!--<div ng-show="photo.currentPage <= photo.numPages"
             class="btn btn-default load-more"
             waypoint="loadMore"
             waypoint-offset="bottom-in-view"
             waypoint-refresh="{{photoLoading}}"
             waypoint-enable="{{photo.currentPage <= photo.numPages}}"
                >{{photoLoading?'loading...':'加载更多'}}</div>-->
    </div>
</div>
