<div class="photo-container">
    <div ng-repeat="photo in photos"
         class="photo"
         ponm-hover>
        <a href=""
           ng-click="displayPhoto(photo.id)">
            <img ng-src="{{staticCtx}}/{{photo.oss_key}}@0e_100w_100h.jpg"
                 ng-class="{'selectable': selectable&&!photo.actionSelected,
                        'selected': photo.actionSelected}">
        </a>

<!--        <div class="action-select"
             ng-class="{'action': !selectable, 'ponm-show': selectable}"
             ng-click="selectPhoto($event, photo)">
            <span class="icon-photo-select"
                  ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
        </div>-->
        <div ng-if="photo.is360">
            <div class="icon-photo-p360"></div>
        </div>
    </div>
    <div ng-show="photo.currentPage <= photo.numPages"
         class="btn btn-default load-more"
         waypoint="loadMore"
         waypoint-offset="bottom-in-view"
         waypoint-refresh="{{photoLoading}}"
         waypoint-enable="{{photo.currentPage <= photo.numPages}}"
            >{{photoLoading?'loading...':'加载更多'}}</div>
</div>