<div infinite-scroll="loadMorePhotos()"
     infinite-scroll-distance="1"
     infinite-scroll-disabled="loadMoreDisabled"
     infinite-scroll-immediate-check="false"
     class="maps-user">
    <div class="header"
         waypoint-sticky="{'stuckClass': 'navbar-third', 'offset': '101'}">
        <div class="media user-info">
            <a class="pull-left" href="{{ctx}}/#/user/{{user.id}}"
               user-card owner="{id:userId}" user-id="user.id">
                <img class="media-object img-circle" ng-src="{{staticCtx}}/avatar{{user.avatar || 1}}.png">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{user.name}}</h4>
                <span>此区域共 {{photos.length}} 张图片</span>
            </div>
        </div>

    </div>
    <div class="photo-wall photo-fluid-container"
         photo-container-fluid="{targetHeight: 160, fadeSpeed: 2000, allowPartialLastRow: true}">
        <div ng-repeat="photo in photos"
             class="photo">
            <a href=""
               ng-click="displayPhoto(photo.id)">
                <img ng-src="{{staticCtx}}/{{photo.oss_key}}@!photo-preview-sm" data-width="{{photo.width}}" data-height="{{photo.height}}">

    <!--        <div class="action-select"
                 ng-class="{'action': !selectable, 'ponm-show': selectable}"
                 ng-click="selectPhoto($event, photo)">
                <span class="icon-photo-select"
                      ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
            </div>-->
                <div ng-if="photo.is360">
                    <div class="icon-photo-p360"></div>
                </div>
            </a>
            <div class="action ponm-photo-footer">
                <p>{{photo.point.address}}</p>
                <pre class="description">{{photo.description}}</pre>
            </div>
        </div>
    </div>
</div>