<div class="maps-container">
    <div class="navbar-second">
        <nav class="navbar navbar-default"
             role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#maps-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="maps-navbar-collapse">
                <ul class="navbar-nav nav nav-tray">
                    <li ng-class="{'active': stateStatus.popular}">
                        <a href="#/maps/popular">受欢迎</a></li>
                    <li ng-class="{'active': stateStatus.recent}">
                        <a href="#/maps/recent">最新</a></li>
                    <li ng-class="{'active': stateStatus.travels}">
                        <a href="#/maps/travels">旅行</a></li>
                    <li ng-if="stateStatus.travel"
                        ng-class="{'active': stateStatus.travel}">
                        <a href="#/maps/travel">旅行<span class="footnote">{{stateStatus.name}}</span></a></li>
                    <li ng-if="user.id"
                        ng-class="{'active': stateStatus.user}">
                        <a href="#/maps/user/{{user.id}}">{{user.name}}<span class="footnote">的照片</span></a></li>
                    <li ng-class="{'active': stateStatus.upload}">
                        <a href="#/maps/upload">上传</a></li>
                    <li>
                        <a>搜索{{searchValObject.typeDesc+": "+searchValObject.val}}</a></li>

                    <li ng-controller="MapsSearchCtrl">
                        <div class="searchbox">
                            <form ng-submit="goLocation(asyncSelected)">
                                <input type="text"
                                       ng-model="asyncSelected"
                                       placeholder="搜索地址"
                                       typeahead="address as address.address for address in getLocation($viewValue) | filter:$viewValue"
                                       typeahead-loading="loadingLocations"
                                       typeahead-template-url="customTemplate.html"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       class="form-control"
                                        >
                                <button type="submit" class="searchbutton glyphicon glyphicon-search"></button>
                            </form>
                        </div>
                    </li>
                    <!--<li ng-if="navbarType == 'move'"
                        class="dropdown">
                        <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">回收站</a></li>
                            <li><a href="">功能介绍</a></li>
                        </ul>
                    </li>-->
                </ul>

                <script type="text/ng-template" id="customTemplate.html">
                    <a href="">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-picture': match.model.type=='photo',
                                         'glyphicon-road': match.model.type=='travel',
                                         'glyphicon-camera': match.model.type=='camera'}"></span>
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query">搜索</span>
                    </a>
                </script>

                <ul class="navbar-nav navbar-right nav">
                    <li ng-if="login && (stateStatus.travel || stateStatus.upload)">
                        <button type="button"
                                class="btn btn-default navbar-btn"
                                ng-click="changeEditableView()">更改试图</button>
                    </li>
                    <li><button type="button" class="btn btn-default navbar-btn"
                                ng-click="changeContentLayout()">更改布局</button></li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <div ui-view="alerts">

    </div>

    <div class="content"
         ng-class="{'left-full': contentLayouts[contentLayout]=='left-full',
                    'left-fixed': contentLayouts[contentLayout]=='left-fixed',
                    'right-full': contentLayouts[contentLayout]=='right-full',
                    'right-fixed': contentLayouts[contentLayout]=='right-fixed'}">
        <div class="left"
             drop="true"
             ng-model='markers'
             jqyoui-droppable="{multiple:true, onOver:'onPhotoOver', onDrop:'onPhotoDrop'}">
            <div class="map-container">
                <div class="map-canvas" ui-map="myMap" ui-options="mapOptions"></div>
                <!--<div class="map-controls"
                     ponm-map-controls
                     ponm-map="myMap"
                     ponm-map-service="mapService"
                     ponm-map-event-listener="mapEventListener">

                </div>-->
            </div>
        </div>
        <div class="right" >
            <div ui-view ></div>
            <!-- class="waypoint-scrollable" -->
        </div>
    </div>
</div>