<div class="maps-container">
    <div class="navbar-second"
         ng-class="{'navbar-fixed-top': navbarFixedTop}">
        <nav class="navbar navbar-default"
             role="navigation">
            <div class="container">
                <ul class="navbar-nav nav nav-tray">
                    <li ng-class="{'active': stateStatus.popular}">
                        <a href="#/popular">受欢迎</a></li>
                    <li ng-class="{'active': stateStatus.recent}">
                        <a href="#/recent">最新</a></li>
                    <li ng-class="{'active': stateStatus.travels}">
                        <a href="#/travels">旅行</a></li>
                    <li ng-class="{'active': stateStatus.upload}">
                        <a href="#/upload">上传</a></li>
                    <li ng-if="stateStatus.travel"
                        ng-class="{'active': stateStatus.travel}">
                        <a href="#/travel">旅行<span class="footnote">{{stateStatus.name}}</span></a></li>
                    <li ng-if="user.login"
                        ng-class="{'active': stateStatus.user}">
                        <a href="#/user">{{user.name}}<span class="footnote">的照片</span></a></li>
                    <li>
                        <a>搜索{{searchValObject.typeDesc+": "+searchValObject.val}}</a></li>

                    <li ng-controller="MapsSearchCtrl">
                        <div class="searchbox">
                            <form ng-submit="goLocation(asyncSelected)">
                                <input type="text"
                                       ng-model="asyncSelected"
                                       placeholder="搜索地址"
                                       typeahead="address as address.address for address in getLocation($viewValue) | filter:$viewValue"
                                       typeahead-loading="loadingLocations"
                                       typeahead-template-url="customTemplate.html"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       class="form-control"
                                        >
                                <button type="submit" class="searchbutton glyphicon glyphicon-search"></button>
                            </form>
                        </div>
                    </li>
                    <!--<li ng-if="navbarType == 'move'"
                        class="dropdown">
                        <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">回收站</a></li>
                            <li><a href="">功能介绍</a></li>
                        </ul>
                    </li>-->
                </ul>

                <script type="text/ng-template" id="customTemplate.html">
                    <a href="">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-picture': match.model.type=='photo',
                                         'glyphicon-road': match.model.type=='travel',
                                         'glyphicon-camera': match.model.type=='camera'}"></span>
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query">搜索</span>
                    </a>
                </script>

                <ul class="navbar-nav navbar-right nav">
                    <li ng-if="login">
                        <button type="button"
                                class="btn btn-default navbar-btn"
                                ng-click="changeEditableView()">更改试图</button>
                    </li>
                    <li><button type="button" class="btn btn-default navbar-btn"
                                ng-click="changeContentLayout()">更改布局</button></li>
                </ul>

            </div>
        </nav>
    </div>

    <div ui-view="alerts">

    </div>

    <div class="content"
         ng-class="{'left-full': contentLayouts[contentLayout]=='left-full',
                    'left-fixed': contentLayouts[contentLayout]=='left-fixed',
                    'right-full': contentLayouts[contentLayout]=='right-full',
                    'right-fixed': contentLayouts[contentLayout]=='right-fixed'}"
         ui-event="{'click': 'selectable=!selectable'}"
         waypoint="navbar"
         waypoint-offset="-1">
        <div class="left">
            <div class="map-container">
                <div id="map-canvas" ui-map="myMap" ui-options="mapOptions"></div>
                <!--<div class="map-controls"
                     ponm-map-controls
                     ponm-map="myMap"
                     ponm-map-service="mapService"
                     ponm-map-event-listener="mapEventListener">

                </div>-->
            </div>
        </div>
        <div class="right waypoint-scrollable">
            <div ui-view></div>
        </div>
    </div>
</div>