<div class="maps-travel">
    <div class="message">
        <alert ng-repeat="alert in alertService.alerts" type="{{alert.type}}" close="alert.close()">{{alert.message}}</alert>
    </div>
    <div class="travel-header" waypoint-sticky="{'stuckClass': 'navbar-third', 'offset': '101'}">
        <div class="media user-info">
            <a class="pull-left" href="{{ctx}}/#/photos/{{userOpenInfo.id}}/albums"
               user-card owner="{id:userId}" user-id="userOpenInfo.id">
                <img class="media-object img-circle" ng-src="{{staticCtx}}/avatar{{userOpenInfo.avatar || 1}}.png">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{travel.username}}</h4>
                <span ng-switch="travelEnedit">
                    <h5 class="media-heading"
                        ng-switch-default>{{travel.title}}</h5>
                    <a ng-switch-when="true"
                       href=""
                       class="editable"
                       editable-text="travel.title"
                       onbeforesave="updateTravel(travel, 'name', $data)">
                        <h5 class="media-heading">{{ travel.title || '添加名称' }}</h5>
                    </a>
                </span>

                <div class="media-footer">
                    <span class="footnotes">{{'  ' + (travel.time_start | date:'yyyy/MM/dd') + ' - ' + (travel.time_end | date:'yyyy/MM/dd') }}</span>
                </div>
                <div class="media-footer">
                    <span>共 {{travel.photo_size}} 张图片</span>
                    <span> {{travel.spots.length}} 个景点</span>
                </div>

                <button type="button"
                        class="btn btn-xs"
                        ng-if="login&&(userId == travel.user_id)"
                        ng-class="{'btn-default':!travelEnedit, 'btn-primary':travelEnedit}"
                        ng-click="changeEditableView()">
                    <span ng-show="travelEnedit">更改试图</span>
                    <span ng-show="!travelEnedit">显示试图</span>
                </button>

                <bd-share ng-if="travel" class="bd-share"
                          text="{{travel.title}}"
                          desc=""
                          comment="{{travel.description||travel.spots[0].description}}"
                          url=""
                          pic="{{staticCtx + '/' + travel.album_cover + '@!photo-preview-big'}}"
                          bd-bind=""></bd-share>
            </div>


        </div>

        <div class="travel-desc">
            <div ng-switch="travelEnedit">
                <a ng-switch-when="true"
                   href=""
                   class="editable"
                   editable-textarea="travel.description" e-rows="4" e-cols="40"
                   onbeforesave="updateTravel(travel, 'description', $data)">
                    <pre class="description">{{ travel.description || '添加描述' }}</pre>
                </a>
                <pre class="description"
                     ng-switch-default>{{travel.description}}</pre>
            </div>
        </div>
    </div>

    <div class="travel-content">
        <div class="panel panel-default travel-spot"
             ng-repeat="spot in travel.spots"
             ng-controller="MapsTravelSpotCtrl">
            <div ng-if="travelEnedit"
                 class="action spot-remove">
                <a href=""
                   ng-click="deleteSpot(spot)">
                    <span class="glyphicon glyphicon-remove icon-action-danger"></span>
                </a>
            </div>
            <!-- Default panel contents -->
            <div class="panel-heading" waypoint-sticky="{'stuckClass': 'navbar-forth', 'offset': '152'}">
                <div class="travel-spot-header" >
                    <a href="" ng-click="activeSpot(spot)">
                        <div class="spot-date" >
                            <span class="spot-date-txt ">{{spot.day || '某'}}</span>
                            <span class="spot-date-flag">DAY</span>
                            <div ng-switch="travelEnedit">
                                <div ng-switch-when="true">
                                    <a href
                                       class="dropdown-toggle"
                                       data-ng-click="datepickerOpened=!datepickerOpened"
                                       datepicker-popup="yyyy/MM/dd"
                                       ng-model="spot.timeStart"
                                       is-open="datepickerOpened"
                                       min-date="minDate"
                                       max-date="'2015-06-22'"
                                       datepicker-options="dateOptions"
                                       date-disabled="datepickerDisabled(date, mode)"
                                       ng-required="true"
                                       close-text="Close">{{((spot.timeStart || spot.time_start) | date:'yyyy/MM/dd') || '选择日期'}}</a>
                                </div>
                                    <span ng-switch-default
                                          class="spot-date-flag"
                                            >{{spot.time_start | date:'yyyy/MM/dd'}}</span>
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div ng-switch="travelEnedit">
                            <a ng-switch-when="true"
                               href="" editable-text="spot.title"
                               onbeforesave="updateSpot(spot, 'title', $data)">{{ spot.title || '添加标题' }}</a>
                            <h4 ng-switch-default>{{spot.title}}</h4>
                        </div>
                    </div>
                    <div class="info">
                        <div ng-switch="travelEnedit" class="editable">
                            <a href=""
                               ng-switch-when="true"
                               editable-select="spot.address" e-ng-options="addr as addr for (addr, point) in spot.addresses"
                               buttons="no"
                               onbeforesave="updateSpot(spot, 'address', $data)">
                                {{ showSpotAddress(spot) }}
                            </a>
                            <address ng-switch-default>{{ spot.address }}</address>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-xs"
                                ng-class="{'btn-primary':spotLine.disp, 'btn-default': !spotLine.disp}"
                                ng-mouseover="spotLine.mouseover=true"
                                ng-mouseleave="spotLine.mouseover=false"
                                ng-click="spotLine.disp=!spotLine.disp">
                            <span class="button-text" ng-show="!spotLine.disp||spotLine.disp&&!spotLine.mouseover">显示路线</span>
                            <span class="button-text" ng-show="spotLine.disp&&spotLine.mouseover">隐藏路线</span>
                        </button>
                        <div ng-show="travelEnedit" style="display: inline-block">
                            <button type="button" class="btn btn-xs"
                                    ng-class="{'btn-primary':spotLine.edit, 'btn-default': !spotLine.edit}"
                                    ng-mouseover="spotLine.editOver=true"
                                    ng-mouseleave="spotLine.editOver=false"
                                    ng-click="editAndSave(spotLine)">
                                <span class="button-text" ng-show="!spotLine.save&&!(spotLine.edit&&spotLine.editOver)">编辑路线</span>
                                <span class="button-text" ng-show="spotLine.edit&&!spotLine.save&&spotLine.editOver">取消编辑</span>
                                <span class="button-text" ng-show="spotLine.save">保存路线</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    ng-show="spotLine.save"
                                    ng-click="cancelEdit(spotLine)">
                                <span class="button-text" >撤销更改</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="spot-description">
                    <div ng-switch="travelEnedit">
                        <div class="editable">
                            <a ng-switch-when="true"
                               href="" editable-textarea="spot.description" e-rows="4" e-cols="40"
                               onbeforesave="updateSpot(spot, 'description', $data)">
                                <pre>{{ spot.description || '添加描述' }}</pre>
                            </a>
                        </div>

                        <pre class="description" ng-switch-default>{{ spot.description }}</pre>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div photo-container-fluid="{targetHeight: 160, fadeSpeed: 2000, allowPartialLastRow: true}"
                     class="photo-wall">
                    <div ng-repeat="photo in spot.photos"
                         ng-controller="MapsTravelSpotPhotoCtrl"
                         class="photo">
                        <a ng-click="activePhoto(photo)"
                           href="">
                            <img ng-src="{{photo.oss_key && staticCtx + '/' + photo.oss_key + '@!photo-preview-big'}}"
                                 data-width="{{photo.width}}" data-height="{{photo.height}}">
                            <div ng-if="photo.is360">
                                <div class="icon-photo-p360"></div>
                            </div>
                        </a>
                        <div class="action ponm-photo-footer">
                            <div>{{photo.date_time | date:'yyyy/MM/dd-HH:mm:ss'}}</div>
                            <p>{{photo.point.address}}</p>
                            <pre class="description">{{photo.description}}</pre>
                        </div>
                        <div ng-show="travelEnedit"
                             class="action datetime-picker">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href=""
                                        id="dropdown-date{{photo.id}}">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <datetimepicker ng-model="photo.date_time"
                                                    on-set-time="setPhotoDateTime"
                                                    datetimepicker-config="{ dropdownSelector: '#dropdown-date{{photo.id}}' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="travelEnedit" class="action ponm-photo-option">
                            <!-- Single button -->
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="createSpot(photo)">创建新景点</a></li>
                                    <li ng-repeat="spot in travel.spots">
                                        <a href="" ng-click="addSpotPhoto(photo, spot)">移动到第{{spot.day}}天{{spot.title}}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="" ng-click="removePhoto(photo)">从旅行中删除</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div ng-if="message" dynamic-message message="message" owner="owner"></div>
    </div>

</div>