
<div class="photo-wall photo-wall-fixed-size photo-selectable-container photo-all"
     ng-class="'photo-wall-'+photoWallMode"
     infinite-scroll='getUserPhotos()'
     infinite-scroll-distance='1'
     ><!-- infinite-scroll-parent="" -->
    <div ng-repeat="photo in photos"
         ng-controller="PhotosPhotoCtrl"
         waypoint="{'offset': 130, target: {id: photo.id, date: photo.create_time}}"
         class="photo"
         ng-style="{'background-color': photo.color}">
        <a href=""
           ng-click="displayPhoto(photo.id)">
            <img ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_200w_200h_1c_1o.jpg"
                 ng-class="{'selectable': selectable&&!photo.actionSelected,
                        'selected': photo.actionSelected}">
        </a>
        <div class="action-select"
             ng-class="{'action': !selectable, 'ponm-show': selectable}"
             ng-click="selectPhoto(photo)">
            <span class="icon-photo-select"
                    ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
        </div>
        <div ng-if="photo.is360">
            <div class="icon-photo-p360"></div>
        </div>
    </div>
    <div ng-show="!photosManager.ended"
         class="btn btn-default btn-block loadmore"
         ng-click="getUserPhotos()"
            >
      <div class="loader loader-loading">
        <div class="loading-slide">
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="slide"></div>
        </div>
      </div>
      <span>加载中</span>
    </div>
</div>

<div class="timeline">
    <div>
        <!--<a href="">
            back
        </a>-->
    </div>
    <div>
        <span>{{timelineDate | date:"yyyy"}}年</span>
        <span>{{timelineDate | date:"MM"}}月</span>
    </div>

</div>

  <div class="btn btn-backtop btn-circle" ng-click="backtop()">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </div>
