<div class="photo-modal-container">
    <nav class="navbar navbar-inverse photo-container-header" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">分享</a></li>
                    <li><a href="#">幻灯片</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-click="cancel()">
                        <a href="#" class="close" aria-hidden="true">&times;</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="photo-container-body">
        <div ponm-photo-container
             ponm-photo-src-l1="{{apirest}}/photo/{{photoId}}/{{(!photo.is360 && 1) || 0}}"
             ponm-photo-width="{{photo.width}}"
             ponm-photo-height="{{photo.height}}"
             ponm-photo-color="{{photo.color}}"
             ponm-photo-is360="{{!!photo.is360}}"
                >
                <div class="flat-image show">
                </div>
                <div class="p360-image">
                    <a class="flat-image-button" href=""><div class="icon-pflat"></div></a>
                </div>
        </div>
        <div class="buttons">
            <button class="zoom-in">放大</button>
            <button class="zoom-out">缩小</button>
            <input type="range" class="zoom-range">
            <button class="reset">重置</button>
        </div>
    </div>

    <nav class="navbar navbar-inverse photo-container-booter" role="navigation">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav center-block">
                    <li><a href="#">分享</a></li>
                    <li><a href="#">幻灯片</a></li>
                    <li><a href="#" class="glyphicon glyphicon-arrow-left"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-th"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-arrow-right"></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="D5a photo-info">
        <div class="info-container">
            <div class="user-container">
                <div class="media user-info">
                    <a class="pull-left" href="{{ctx}}/user/{{photo.user_id}}">
                        <img class="media-object img-circle" ng-src="{{apirest}}/user/{{photo.user_id || 1}}/avatar">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{userOpenInfo.username}}</h4>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="title">{{photo.title}}</div>
                    <pre class="description">{{photo.description}}</pre>
                </div>
            </div>
            <div class="photo-detail">
                <div class="btn btn-default btn-block btn-detail"
                     ng-click="photoDetailCollapsed = !photoDetailCollapsed">照片详情<span class="caret"></span></div>
                <div collapse="photoDetailCollapsed">
                    <div class="detail-well">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="name">拍摄日期</td>
                                    <td  class="value">{{cameraInfo.date_time_original | calculatetime | date:'yyyy-MM-dd'}}</td>
                                </tr>
                                <tr>
                                    <td class="name">尺寸</td>
                                    <td class="value">{{photo.width}}×{{photo.height}}</td>
                                </tr>
                                <tr>
                                    <td class="name">文件名</td>
                                    <td class="value">{{cameraInfo.filename}}</td>
                                </tr>
                                <tr>
                                    <td class="name">文件大小</td>
                                    <td class="value">{{cameraInfo.filesize}}</td>
                                </tr>
                                <tr>
                                    <td class="name">相机</td>
                                    <td class="value">{{cameraInfo.model}}</td>
                                </tr>
                                <tr>
                                    <td class="name">镜头</td>
                                    <td class="name">{{cameraInfo.jt}}</td>
                                </tr>
                                <tr>
                                    <td class="name">焦距</td>
                                    <td class="value">{{cameraInfo.focal_length}}</td>
                                </tr>
                                <tr>
                                    <td class="name">曝光</td>
                                    <td class="value">{{cameraInfo.exposure_time}}</td>
                                </tr>
                                <tr>
                                    <td class="name">F 值</td>
                                    <td class="value">{{cameraInfo.fnumber}}</td>
                                </tr>
                                <tr>
                                    <td class="name">ISO</td>
                                    <td class="value">{{cameraInfo.iso}}</td>
                                </tr>
                                <tr>
                                    <td class="name">相机品牌</td>
                                    <td class="value">{{cameraInfo.make}}</td>
                                </tr>
                                <tr>
                                    <td class="name">闪光灯</td>
                                    <td class="value">{{cameraInfo.flash}}</td>
                                </tr>
                                <tr>
                                    <td class="name">曝光偏差</td>
                                    <td class="value">{{cameraInfo.exposure_bias}}</td>
                                </tr>
                                <tr>
                                    <td class="name">查看次数</td>
                                    <td class="value">{{photo.views}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="media comment" ng-repeat="comment in comments">
                    <a class="pull-left" href="{{ctx}}/user/{{comment.userId}}">
                        <img class="media-object img-rounded"
                             data-ng-src="{{apirest}}/user/{{comment.userId}}/avatar"
                             width="60" height="60" alt="{{comment.username}}">
                    </a>
                    <div class="media-body">
                        <h6 class="media-heading">
                            <a href="{{ctx}}/user/{{comment.userId}}">{{comment.username}}</a>
                        </h6>
                        <div>{{comment.createTime | calculatetime | date:'yyyy-MM-dd'}}</div>
                        <pre class="content">{{comment.content}}</pre>
                        <!--<p ng-repeat="line in (comment.content | newlines) track by $index">{{line}}</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div >
                <a href="#" editable-textarea="comment.content" e-rows="4"
                   onaftersave="createComment()">
                    <input type="text" class="form-control" placeholder="发表评论">
                    <!--<pre>{{ user.desc || 'no description' }}</pre>-->
                </a>
            </div>
        </div>
    </div>
</div>