<div class="photos" >
    <div class="navbar-second navbar-second-edit" ng-class="{'selectable': selectable}"
         waypoint-sticky="{'stuckClass': 'navbar-second-top', 'offset': '1'}" >
        <nav class="navbar navbar-default"
             role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                    <ul class="nav navbar-nav nav-tray">
                        <li ng-class="{'active': $state.current.name == 'photos.all'}">
                            <a href="#/photos/{{userId}}/all">所有照片</a></li>
                        <li ng-class="{'active': $state.current.name == 'photos.albums'}">
                            <a href="#/photos/{{userId}}/albums">相册</a></li>
                        <li ng-class="{'active': $state.current.name == 'photos.recent'}">
                            <a href="#/photos/{{userId}}/recent">最近添加</a></li>
                        <li ng-class="{'active': $state.current.name == 'photos.trash'}">
                            <a href="#/photos/{{userId}}/trash">回收站</a></li>
                        <!--<li class="dropdown">
                            <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/yourphotos/trash">回收站</a></li>
                                <li><a href="">功能介绍</a></li>
                            </ul>
                        </li>-->
                    </ul>
                  <ul class="navbar-nav navbar-right nav">
                    <li>
                      <div class="btn-group btn-group-sm">
                        <label class="btn btn-default navbar-btn" ng-model="photoWallMode" btn-radio="'large'"
                               uncheckable>
                          <span class="glyphicon glyphicon-picture"></span>
                        </label>
                        <label class="btn btn-default navbar-btn" ng-model="photoWallMode" btn-radio="'medium'"
                               uncheckable>
                          <span class="glyphicon glyphicon-th-large"></span>
                        </label>
                        <label class="btn btn-default navbar-btn" ng-model="photoWallMode" btn-radio="'small'"
                               uncheckable>
                          <span class="glyphicon glyphicon-th"></span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-edit"
             role="navigation"
             ng-class="{'ponm-show': selectable}">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle">
                                <img ng-repeat="photo in selectedPhotos | limitTo:5"
                                     ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_36w_36h_1c.jpg">
                                <span>选择了 {{selectedPhotos.length}} 张照片<span class="caret"></span></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="photo in selectedPhotos"
                                        class="photo">
                                    <img ng-src="{{staticCtx}}/{{photo.oss_key}}@1e_75w_75h_1c.jpg">
                                    <div class="action-select ponm-show"
                                         ng-click="selectPhoto($event, photo)">
                                        <span class="icon-photo-select"
                                              ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li ng-if="navbarType == 'trash'">
                            <a href="" ng-click="cancelRecycle()">恢复</a></li>
                        <li ng-if="navbarType == 'trash'">
                            <a href="" ng-click="removeRecycle()">永久删除</a></li>

                        <li ng-if="navbarType == 'move'">
                            <a href="" ng-click="openMovePhoto()">移动</a></li>
                        <li ng-if="navbarType == 'move'">
                            <a href="" ng-click="deletePhoto()">删除</a></li>
                        <!--<li ng-if="navbarType == 'move'"
                            class="dropdown">
                            <a href="" class="dropdown-toggle">更多 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">回收站</a></li>
                                <li><a href="">功能介绍</a></li>
                            </ul>
                        </li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><button type="button" class="btn btn-default navbar-btn"
                                ng-click="cancelSelect()">取消选择</button></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="messages">
            <alert ng-repeat="alert in alertService.alerts" type="{{alert.type}}" close="alert.close()">{{alert.message}}</alert>
        </div>
    </div>

    <div class="select-pane"
         ponm-rect-multi-select="{'selector': '.photo', 'moveselect': false}"
         ponm-rect-selector="rectSelected">
        <div class="container container-photos">
            <div ui-view>
                <i>Some content will load here!</i>
            </div>
        </div>
    </div>

</div>
