<div class="photo-modal-container">
    <nav class="navbar navbar-inverse photo-container-header" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Brand</a>
            </div>-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav center-block">
                    <!--<li><a href="">分享</a></li>-->
                    <li><a href="">幻灯片</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="">下载图片</a></li>
                            <li><a href="">举报非法图片</a></li>
                            <!--<li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="">One more separated link</a></li>-->
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-click="cancel()">
                        <a href="" class="close" aria-hidden="true">&times;</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="photo-container-body">
        <!-- ponm-photo-src-p360="{{apirest}}/photo/{{photo.id}}/oss" -->
        <div ponm-photo-container
             ponm-photo-src-l1="{{getPhotoSrc(photo)}}"
             ponm-photo-src-p360="{{corsproxyCtx}}/{{photo.oss_key}}@0e_2000w_1000h.jpg"
             ponm-photo-width="{{2000}}"
             ponm-photo-height="{{1000}}"
             ponm-photo-color="{{photo.color}}"
             ponm-photo-is360="{{!!photo.is360}}"
                >
                <!--<div class="flat-image show">
                </div>
                <div class="p360-image">
                    <a class="flat-image-button" href=""><div class="icon-pflat"></div></a>
                </div>-->
        </div>
        <!--<div class="buttons">
            <button class="zoom-in">放大</button>
            <button class="zoom-out">缩小</button>
            <input type="range" class="zoom-range">
            <button class="reset">重置</button>
        </div>-->
    </div>

    <nav class="navbar navbar-inverse photo-container-booter" role="navigation">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav center-block">
                    <!--<li><a href="">分享</a></li>
                    <li><a href="">幻灯片</a></li>-->
                    <li><a href="" class="glyphicon glyphicon-arrow-left"
                           data-ng-click="previous()"></a></li>
                    <li><a href="" class="glyphicon glyphicon-th" data-ng-click="openTravelAlbum()"></a></li>
                    <li><a href="" class="glyphicon glyphicon-arrow-right"
                           data-ng-click="next()"></a></li>
                    <li class="text-explain"><span>第 {{travel.activePhoto.sortCount || 1}} 张（共 {{travel.totalPhoto || 1}} 张）查看次数：{{photo.views || 0}}</span></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="photo-info">
        <div class="info-container">
            <div class="user-container">
                <div class="media user-info">
                    <a class="pull-left" href="{{ctx}}/user#?id={{userOpenInfo.id}}">
                        <img class="media-object img-circle" ng-src="{{staticCtx}}/avatar{{userOpenInfo.avatar || 1}}.png">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{userOpenInfo.name}}</h4>
                        <div>
                            <span class="footnotes">{{photo.create_time | date:'yyyy年MM月dd日'}}</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div ng-if="!photoEditable && photo.travel_id">
                        旅行：<a data-ng-href="{{ctx}}/travel#?id={{photo.travel_id}}">{{photo.travel_name}}</a>
                    </div>
                    <div ng-if="photoEditable">
                        旅行：
                        <a href=""
                           editable-select="photo.travel_id"
                           e-ng-options="travel.id as travel.title for travel in userOpenInfo.travels"
                           buttons="no"
                           onbeforesave="addTravel($data)">
                            {{ showTravel() }}
                        </a>
                    </div>
                    <div class="title" ng-switch="photoEditable">
                        <a ng-switch-when="true"
                           href="" editable-text="photo.title"
                           onbeforesave="updatePhoto(photo, 'title', $data)">{{ photo.title || '添加标题' }}</a>
                        <h5 ng-switch-default>{{photo.title}}</h5>
                    </div>
                    <div class="editable" ng-switch="photoEditable">
                        <a ng-switch-when="true"
                           href="" editable-textarea="photo.description" e-rows="4" e-cols="40"
                           onbeforesave="updatePhoto(photo, 'description', $data)">
                            <pre>{{ photo.description || '添加描述' }}</pre>
                        </a>
                        <pre class="description photo-description"  ng-switch-default>{{ photo.description }}</pre>
                    </div>
                </div>
            </div>
            <div class="photo-detail">
                <div class="btn btn-default btn-block btn-detail"
                     ng-click="photoDetailCollapsed = !photoDetailCollapsed">照片详情<span class="caret"></span></div>
                <div collapse="photoDetailCollapsed">
                    <div class="detail-well">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="name">地址</td>
                                    <td  class="value">
                                        <a href=""
                                           data-ng-click="openMapPhoto()"
                                           tooltip="{{photoEditable ? '更改位置' : '位置错误？建议新位置'}}"
                                           tooltip-trigger="mouseenter"
                                           tooltip-placement="top">{{photo.point.address}}</a></td>
                                </tr>
                                <tr>
                                    <td class="name">位置</td>
                                    <td  class="value">
                                        <a href=""
                                           data-ng-click="openMapPhoto()"
                                           tooltip="{{photoEditable ? '更改位置' : '位置错误？建议新位置'}}"
                                           tooltip-trigger="mouseenter"
                                           tooltip-placement="top">{{(photo.point.lat && (photo.point.lat | number) + ',') || '添加位置'}}{{photo.point.lng | number}}</a></td>
                                </tr>
                                <tr>
                                    <td class="name">拍摄日期</td>
                                    <td  class="value">
                                        {{cameraInfo.date_time_original | calculatetime | date:'yyyy-MM-dd'}}</td>
                                </tr>
                                <tr>
                                    <td class="name">尺寸</td>
                                    <td class="value">{{photo.width}}×{{photo.height}}</td>
                                </tr>
                                <tr>
                                    <td class="name">文件名</td>
                                    <td class="value">{{photo.file_name}}</td>
                                </tr>
                                <tr>
                                    <td class="name">文件大小</td>
                                    <td class="value">{{photo.file_size | bytes}}</td>
                                </tr>
                                <tr>
                                    <td class="name">相机</td>
                                    <td class="value">{{cameraInfo.model}}</td>
                                </tr>
                                <tr>
                                    <td class="name">镜头</td>
                                    <td class="name">{{cameraInfo.jt}}</td>
                                </tr>
                                <tr>
                                    <td class="name">焦距</td>
                                    <td class="value">{{cameraInfo.focal_length}}</td>
                                </tr>
                                <tr>
                                    <td class="name">曝光</td>
                                    <td class="value">{{cameraInfo.exposure_time}}</td>
                                </tr>
                                <tr>
                                    <td class="name">F 值</td>
                                    <td class="value">{{cameraInfo.fnumber}}</td>
                                </tr>
                                <tr>
                                    <td class="name">ISO</td>
                                    <td class="value">{{cameraInfo.iso}}</td>
                                </tr>
                                <tr>
                                    <td class="name">相机品牌</td>
                                    <td class="value">{{cameraInfo.make}}</td>
                                </tr>
                                <tr>
                                    <td class="name">闪光灯</td>
                                    <td class="value">{{cameraInfo.flash}}</td>
                                </tr>
                                <tr>
                                    <td class="name">曝光偏差</td>
                                    <td class="value">{{cameraInfo.exposure_bias}}</td>
                                </tr>
                                <tr>
                                    <td class="name">查看次数</td>
                                    <td class="value">{{photo.views}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="communication">
                <div class="status">
                    <div>
                        <button type="button"
                                class="btn btn-sm"
                                title="{{(photo.like && '取消赞') || '赞一个'}}"
                                ng-class="{'btn-danger': photo.like, 'btn-default': !photo.like}"
                                ng-click="like()">{{photo.like_count}}个赞</button>
                        <button type="button"
                                class="btn btn-default btn-sm"
                                title="分享"
                                ng-click="share()"><span class="glyphicon glyphicon-share-alt"></span></button>
                    </div>
                </div>
                <div class="comments">
                    <div class="status">{{photo.comment_count}}条评论</div>
                    <div ng-repeat="comment in comments">
                        <div ponm-comment comment="comment" user-id="userId" deleted-comment="deletedComment">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment" data-ng-show="login">
            <div class="editable">
                <a href=""
                   editable-textarea="commentContent"
                   e-rows="4"
                   onbeforesave="createComment($data)"
                   oncancel="cancelComment()"
                   >
                    <input type="text" class="form-control" placeholder="{{comment.placeholder || '发表评论'}}">
                    <!--<pre>{{ user.desc || 'no description' }}</pre>-->
                </a>
            </div>
        </div>
    </div>

    <div class="photo-travel-album" photo-travel-album>
        <div class="travel-album-background"></div>
        <div class="travel-album">
            <div class="header">
                旅行中的所有照片（{{travel.totalPhoto || 0}}）
                <a href="" class="close" aria-hidden="true"
                        data-ng-click="closeTravelAlbum()">×</a>
            </div>
            <div class="body">
                <a href="" class="image"
                   data-ng-repeat="photo in travel.photos"
                   data-ng-click="openPhoto(photo)"
                   data-ng-class="{'thumbnail': photo.active}">
                    <img ng-src="{{staticCtx}}/{{photo.oss_key}}@!album-thumbnail" alt="{{photo.title}}">
                </a>
            </div>
        </div>
    </div>

    <div class="photo-recommend-album" photo-recommend-album>
        <div class="recommend-album-background">

        </div>
        <div class="recommend-album">

        </div>
    </div>
</div>