<div class="container settings">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3">

                <div class="module">
                    <div class="ProfileCard">
                        <a class="ProfileCard-bg" href="">
                            <img ng-src="{{staticCtx}}/avatar{{user.avatar || 1}}.png">
                        </a>

                        <div class="ProfileCard-content">
                            <a class="ProfileCard-avatarLink" href=""
                               backstretch background-url="{{staticCtx}}/avatar{{user.avatar || 1}}.png">
                            </a>

                            <div class="ProfileCard-userFields">
                                <div>{{user.name}}</div>
                                <div>{{user.username}}</div>
                                <p>{{user.description}}</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="module">
                    <ul class="nav nav-links">
                        <li ng-class="{'active': $state.current.name == 'settings.account'}">
                            <a href="#/settings/account">账号<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                        <li ng-class="{'active': $state.current.name == 'settings.password'}">
                            <a href="#/settings/password">密码<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                        <li class="disabled"
                            ng-class="{'active': $state.current.name == 'settings.security'}">
                            <a ref="#/settings/security">安全和隐私<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                        <li class="disabled"
                            ng-class="{'active': $state.current.name == 'settings.notifications'}">
                            <a ref="#/settings/notifications">电子邮件提醒和私密信息<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                        <li ng-class="{'active': $state.current.name == 'settings.map'}">
                            <a href="#/settings/map">地图<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                        <li ng-class="{'active': $state.current.name == 'settings.photo'}">
                            <a href="#/settings/photo">图片<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-8 col-md-9">
                <div ui-view></div>
            <div id="contenido" class="wide" style="height: 34px;">

            <form id="settings" method="post" data-ng-submit="submit()" action="">


            </form>

            </div>

            </div>
        </div>
    </div>

</div>