<div class="dropdown dropdown-picker">
    <div class="dropdown-toggle"
         ng-model="item"
         style="cursor: pointer;">
        <a href=""
           ng-hide="selectedItems.length">{{placeHolder}}</a>
        <span class="label label-info label-clickable" style="margin: 0 1px;"
              ng-repeat="item in selectedItems">{{item.value}}</span>
    </div>
    <div class="dropdown-menu">
        <div class="dropdown-body">
            <span ng-show="loadingItems"
                  class="glyphicon glyphicon-refresh">加载中...</span>
            <span class="label label-selectable"
                  ng-class="{'label-default': item.$active, 'label-info': !item.$active}"
                  ng-repeat="item in items"
                  ng-click="setItem(item)">{{item.value}}</span>
        </div>
        <div class="form-inline" role="form">
            <div class="form-group">
                <!--<label class="sr-only" for="pickerNew">Email address</label>-->
                <input type="text" class="form-control input-sm" id="pickerNew"
                       placeholder="添加" ng-model="newItem">
            </div>
            <button type="submit" class="btn btn-default" ng-click="createData(newItem)">新建</button>
        </div>
    </div>
</div>