.navbar-alert {
  position: fixed;
  top: $header-navbar-height;
  width: 100%;
  max-height: 45px;
  z-index: 2100;
  .alert {
    text-align: center;
  }
  .alert.ng-leave {
    @include animation(leave_sequence 300ms ease-out);
  }
}

// alerts
.alerts {
  background-color: #fefce0;
  color: #737373;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.alert-header {
  position: absolute;
  width: 100%;
  text-align: center;
  .alert {
    display: inline-block;
    min-width: 200px;
    max-width: 500px;
  }
}

// messages container
.messages {

  text-align: center;
}

// maps page message
.maps-container {
  .maps-content {
    .maps-right {
      .messages {
        position: fixed;
        z-index: 1028;
      }
    }
  }
}
