.card {
  @include border-radius(3px);
  @include box-sizing(border-box);
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  vertical-align: top;
}

.card.active {
  border: 1px solid rgba(50, 50, 50, 0.3);
  @include box-shadow(0 0 30px rgba(0,0,0,.5));
}