/** icons */
.action-select {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
}
.action.ponm-show {
  opacity: 1;
}

.icon-photo-select {
  opacity: .55;
  background: no-repeat url(../images/photos-action.png) -42px -50px;
  background-clip: content-box;
  cursor: pointer;
  height: 24px;
  left: 0;
  //  padding: 9px;
  position: absolute;
  top: 0;
  width: 24px;
}
.icon-photo-select.icon-photo-selected {
  -webkit-animation: ttPhotosSelectionOverlayCheckmarkSelectedTransition .3s linear 0s 1;
  animation: ttPhotosSelectionOverlayCheckmarkSelectedTransition .3s linear 0s 1;
  filter: alpha(opacity=100);
  opacity: 1;
  background: no-repeat url(../images/photos-action.png) -109px -50px;
  background-clip: content-box;
}

.icon-photo-p360 {
  background: no-repeat url(../images/photos-action.png) -89px -124px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}

.photos-lightbox-close {
  background: no-repeat url(../images/lightbox.png) -57px -338px;
  bottom: 0;
  height: 16px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}

/** dynamic icons*/
.icon.loading-spinner {
  width: 70px;
  text-align: center;

  > div {
    width: 16px;
    height: 16px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}