//.modal-open .modal {
//  background-color: #ececec;
//}

.photo-modal-fullscreen {
  overflow: hidden;
  .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    .photo-modal-container {
      background: lightgray;
    }
  }
}

.photo-modal-fullscreen.modal.fade.in {
  .modal-dialog {
    @include translate3d(0, 0, 0);
    @include scale(1);
  }
}
.photo-modal-fullscreen.modal.fade {
  .modal-dialog {
    @include translate3d(0, -25%, 0);
    @include scale(0.8);
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    @include transition(transform 0.3s ease-out);
  }
}

.ponm-modal {
  overflow-y: hidden;

  .modal-content {
    height: 100%;
    background-color: #f5f6f5;
  }

  .modal-header {
    height: 50px;
  }

  .modal-body {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    padding: 10px;
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 9px 20px 2px;
  }
}
.move-photo-modal {
  @extend .ponm-modal;
  .modal-dialog {
    position: absolute;
    width: initial;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px;
    display: block;
    padding: 0;
    box-shadow: 0 0 20px 1px #777;
    .modal-content {
//      position: absolute;
//      height: 100%;
      width: 100%;
    }
  }
}

.map-photo-modal {
  @extend .ponm-modal;
  .modal-dialog {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 40px;
    right: 40px;
    width: auto;
    padding: 0;
    box-shadow: 0 0 20px 1px #777;
    .modal-content {
//      border-radius: initial;
//      border: initial;
      .modal-header {
        //        color: white;
      }
      .modal-body {
        .map-panel {
          .map-photo-map {
            bottom: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

.avatar-upload-modal {
  @extend .ponm-modal;

  .modal-dialog {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    box-shadow: 0 0 20px 1px #777;
  }
}

