//
// Navs
// --------------------------------------------------

.nav.nav-tray {
  > li {
    > a {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      @include transition-linear(border-bottom-color);
    }
  }

  >li.active, >li:hover {
      > a {
        border-bottom-color: $nav-item-active-color;
      }
    }
}

.nav-list {
  border-left: 3px solid transparent;
//  @include transition-linear(border-left);
}
.nav-list:hover {
  border-left: 3px solid #4dd0e1;
}
.nav-list.active {
  border-left: 3px solid #00bcd4;
}