//
// Navbars
// --------------------------------------------------

.header-navbar {
  position: relative;
  z-index: 1030;
  .navbar {
    border-radius: 0;
    min-height: $header-navbar-height;
    margin-bottom: 0;
    border: 0;
    .navbar-logo {
      height: 100%;
    }

    .navbar-nav>li>a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .navbar-header {
      .navbar-toggle {
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 6px 8px;
      }
    }

    .navbar-brand {
      padding: 0 5px;
      height: $header-navbar-height;
    }

    .navbar-nav.navbar-right {
      .user {
        .user-avatar {
          padding: 0 15px;
        }
        img {
          width: $header-navbar-height;
        }
      }

      .btn-group {
        margin-bottom: 0;
      }
    }

  }

}

.navbar.navbar-default {
  .navbar-collapse {
    background-color: #f8f8f8;
  }
}

.navbar-second {
//  position: fixed;
  width: 100%;
  z-index: 1029;
  height: 50px;
//  top: 51px;

  .navbar-right {
    margin-right: 15px;
  }

  .navbar {
    border: 0;
    margin-bottom: 0;
    @include border-radius(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    .nav {
      > li {
        padding: 0 15px;
        > a {
          padding: 14px 0;
          background-color: initial !important;
        }
      }
    }
  }
}

.navbar-second-top.navbar-second {
  position: fixed;
  z-index: 1031;
  top: 0;
  .navbar {
    border-bottom: 1px solid $theme-header-bd-color;
  }

}

.navbar-third {
  position: fixed !important;
  top: 81px !important;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.57));
  z-index: 1027;
}

.navbar-forth {
  position: fixed !important;
  top: $header-navbar-height+101px !important;
  z-index: 1026;
//  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.57));
}

.navbar-second-edit {
  position: relative;
  .navbar-edit {
    position: absolute;
    top: -104px;
    height: 0;
    z-index: 2;
  }
  .navbar.navbar-edit.ponm-show {
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
.navbar-second-edit.selectable {
  .dropdown {

  }
}

.navbar-edit {
  background-color: $theme-edit-color;
  .nav.navbar-nav {
    > li {
      a {
        color: white;
      }
    }
    > li:hover {
      background-color: lighten($theme-edit-color, 5%);
    }
  }

  .navbar-collapse {
    background-color: $theme-edit-color;
  }

  .navbar-left {
    .dropdown {

      .dropdown-toggle {
        padding: 6px;
        line-height: 36px;
        img {
          margin: 1px;
        }
      }

      .dropdown-menu {
        width: 150%;
        min-width: 200px;
        min-height: 100px;
        border: 0;
        @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.575));
        .photo {
          position: relative;
          float: left;
          margin: 4px;
          .icon-photo-select {
            position: absolute;
            left: 0;
            top: 42px;
            cursor: pointer;
            @include opacity(.7);
            @include transition(opacity 218ms);
          }
        }
      }
    }
  }

  .nav.navbar-nav.navbar-right {
    > li:hover {
      background-color: initial;
    }
  }
}

.navbar.navbar-edit {

  left: 0;
  right: 0;
  @include transition-linear(all);

  .navbar-toggle {
    border-color: white;
    .icon-bar {
      background-color: white;
    }
  }
}

.ponm-navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* navbar-start *******************************************************/

.navbar {

}

.nav {
  .white {
    color: #7e7e7e;
  }

  .white:hover {
    color: #fff;
    background-color: #48484c;
  }
}

.navbar-profile-image {
  margin-left: 15px;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  @include border-radius(3px);
  border: 0;
}

/* navbar-end */
