//
// Variables
// --------------------------------------------------

$body-bg-color:               #ececec !default;
$container-active-color:       #f5f5f5 !default;

$theme-color-primary: #00bcd4;

$nav-item-active-color: $theme-color-primary;
$nav-item-want-active-color: #4dd0e1;

// ----------
// nav-links
//** Text color of disabled list items
$nav-links-disabled-color:      $gray-light !default;
//** Background color of disabled list items
$nav-links-disabled-bg:         $gray-lighter !default;
//** Text color for content within disabled list items
$nav-links-disabled-text-color: $nav-links-disabled-color !default;

// ----------
// photo
//** display photo
$photo-bg: lightgrey;
$theme-header-bd-color: #00bcd4;
$theme-header-bg-color: #00bcd4;
$theme-edit-color: #4387fd;

// ----------
// header navbar
//** header navbar
$header-navbar-height: 30px;
$header-navbar-second-height: 50px;
