.photo-wall {
  .photo {
    position: relative;
    display: inline-block;
    margin: 1px;
    @include transition-linear(all);
    img {
//      display: none;
//      height: 100px;
      @include transition-linear(all);
    }

    .ponm-photo-footer {
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      padding: 5px;
      background-color: rgba(128, 128, 128, 0.5);
      color: white;
      overflow: hidden;
      font-size: 10px;
    }

    .action {
      opacity: 0;
      @include transition-linear(opacity);
    }
  }

  .photo.ng-enter {
    @include animation(enter_sequence 300ms ease-out);
  }

  .photo.ng-leave {
    @include animation(leave_sequence 300ms ease-out);
  }
  .photo:hover, .photo.hover {
    .action {
      opacity: 1;
    }
  }
}

.photo-wall.photo-wall-fixed-size {
  .photo {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// photo selectable container
.photo-selectable-container {
  width: 100%;
  .photo {
    position: relative;
    margin: 1px;
    img {
      -webkit-transition: all 218ms ease-in-out;
      transition: all 218ms ease-in-out;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 0 solid transparent;
    }
    img.selectable {
      -webkit-transition: all 218ms ease-in-out;
      transition: all 218ms ease-in-out;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 5px solid $body-bg;
    }
    img.selected {
      -webkit-transition: all 218ms ease-in-out;
      transition: all 218ms ease-in-out;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 5px solid $theme-edit-color;
    }
  }
}

// waypoint timeline for photo in wall
.timeline {
  position: fixed;
  top: 110px;
  right: 10px;
  width: 60px;
  height: 70px;
  background: $theme-edit-color;
  border-radius: 2px;
  color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.57);
  padding: 3px;
  text-align: center;
}