

.repeat-enter-setup, .repeat-leave-setup {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.repeat-enter-setup { line-height:0; opacity:0; }
.repeat-enter-setup.repeat-enter-start { line-height:20px; opacity:1; }

.repeat-leave-setup { opacity:1; line-height:20px; }
.repeat-leave-setup.repeat-leave-start { opacity:0; line-height:0; }

.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  position: relative;
  display: block;
}

.animate-leave.animate-leave-active,
.animate-enter {
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  height: 0px;
  opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 30px;
  opacity: 1;
}