// *----------------------------------------------
// view animation
// *----------------------------------------------
// view in out
.view-in-out {
}
.view-in-out.ng-enter {
  position: absolute;
  @include transform(translate(-50%, -100%) scale(.5));
  @include opacity(0);
  @include transition-transform(.5s ease-in-out, opacity .5s ease-in-out);
}
.view-in-out.ng-enter.ng-enter-active {
  -webkit-backface-visibility: hidden;
  @include transform(translate(0, 0) scale(1));
  @include opacity(1);
}
.view-in-out.ng-leave {
  position: relative;
  @include transition-transform(.5s ease-in-out, opacity .5s ease-in-out);
}
.view-in-out.ng-leave.ng-leave-active {
  -webkit-backface-visibility: hidden;
  @include transform(translate(50%, -100%) scale(.5));
  @include opacity(0);
}
//

@-webkit-keyframes rotateThis {
  from {
    @include transform(scale(1) rotate(0deg));
  }

  to {
    @include transform(scale(1) rotate(360deg));
  }
}

@keyframes rotateThis {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  to {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% {
    @include opacity(.3);
    @include scale(.7);
  }
  50% {
    @include opacity(1);
    @include scale(1.1);
  }
  70% {
    @include scale(.9);
  }
  to {
    @include scale(1);
  }
}

@keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% {
    @include opacity(.3);
    @include scale(.7);
  }
  50% {
    @include opacity(1);
    @include scale(1.1);
  }
  70% {
    @include scale(.9);
  }
  to {
    @include scale(1);
  }
}

@-webkit-keyframes enter_sequence {
  from { opacity:0; @include scale(0.8);}
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; @include scale(0.8);}
  to { opacity:1; }

}@-webkit-keyframes leave_sequence {
  from { opacity:1;}
  to { opacity:0;
      @include scale(0.8);}
}
@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0;
    @include scale(0.8);}
}

/** view page animation *******************************************************************/
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%    { transform: rotateZ(0deg); }
  20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% 	{ transform: rotateZ(17deg); }
  60% 	{ transform: rotateZ(16deg); }
  100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ @include translate(-30%, 0);
              @include opacity(0.3);
            }
}

@keyframes slideOutRight {
  to 		{ @include translate(100%, 0);
              @include opacity(0.3);}
}
@-webkit-keyframes slideOutRight {
  to 		{ @include translate(100%, 0);
              @include opacity(0.3);}
}

/* slide out from the bottom */
@keyframes slideOutDown {
  to 		{ transform: translateY(100%); }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from 	{ @include opacity(0.3);
    @include scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from 	{ @include opacity(0.3);
    @include scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform: translateX(100%); }
  to 	{ transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ transform: translateX(100%); }
  to 	{ transform: translateX(0); }
}

@keyframes opacityOut {
  from 	{
    @include opacity(1);}
  to 	{
    @include opacity(0);}
}
@-webkit-keyframes opacityOut {
  from 	{
    @include opacity(1);}
  to 	{
    @include opacity(0);}
}

@keyframes opacityIn {
  from 	{
    @include opacity(0);}
  to 	{
    @include opacity(1);}
}
@-webkit-keyframes opacityIn {
  from 	{
    @include opacity(0);}
  to 	{
    @include opacity(1);}
}

@keyframes hideIn {
  to 	{ @include scale(.5); @include opacity(0.3); }
}

.ng-enter-opacity {
  &.ng-enter {
//    position: relative;
//    top: 0;
    @include transition(opacity .5s ease-out);
    @include opacity(0);
  }
  &.ng-enter.ng-enter-active {
    -webkit-backface-visibility: hidden;
    @include opacity(1);
  }
  &.ng-leave {
    position: absolute;
    @include transition(opacity .5s ease-out);
    @include opacity(1);
  }
  &.ng-leave.ng-leave-active {
    -webkit-backface-visibility: hidden;
    @include opacity(0);
  }
}

.ng-enter-leave {

  &.ng-enter {
    @include transition(opacity .5s ease-out);
    @include opacity(.2);
  }
  &.ng-enter.ng-enter-active {
    -webkit-backface-visibility: hidden;
    @include opacity(1);
  }
  &.ng-leave {
    position: absolute;
    // zan wei jiejue bug
//    z-index: 2000;
    @include transition(all .5s ease-out);
    @include opacity(1);
  }
  &.ng-leave.ng-leave-active {
    -webkit-backface-visibility: hidden;
    @include opacity(.2);
  }
}

// maps page right view
.maps-view-page {
  @extend .ng-enter-opacity;
}

// main-view-page
.main-view-page {
  position: absolute;
  top: $header-navbar-height;
  width: 100%;
  @extend .ng-enter-leave;

}

// photos-view
.photos-view {
  top: 0;
  width: 100%;
  @extend .ng-enter-opacity;
}

.users-view {
  @extend .ng-enter-opacity;
  top: 0;
  width: 100%;
}

.settings-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @extend .ng-enter-opacity;
  &.ng-enter {
    position: absolute;
  }
}
