.ponm-photo-container {

  position: relative;
  max-height: 1000px;
  margin: 0 auto;

  .flat-image {
    opacity: 0;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s;
    transition: opacity 1s;

    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    opacity: 0;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s;
    transition: opacity 1s;

    position: static;
    max-width: 100%;
    max-height: 100%;
  }

  img.ng-animate.show-add, img.ng-animate.show-remove {
    opacity: 1;
  }

  img.show {
    opacity: 1;
  }

  .flat-image.ng-animate.show-add, .flat-image.ng-animate.show-remove {
    opacity: 1;
  }

  .flat-image.show {
    opacity: 1;
  }

  canvas {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  canvas.ng-animate.show-add, canvas.ng-animate.show-remove {
    opacity: 1;
    z-index: 1;
  }

  canvas.show {
    opacity: 1;
    z-index: 1;
  }

  .img-container {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  .image360 {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon-p360 {
    position: absolute;
    bottom: 0;
    margin-left: 45%;
    margin-right: 45%;

    width: 65px;
    height: 65px;
    background:url(../images/lightbox.png) no-repeat -63px 0;
    opacity:0.5;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .icon-pflat {
    position: absolute;
    bottom: 0;
    margin-left: 45%;
    margin-right: 45%;

    width: 65px;
    height: 65px;
    background:url(../images/lightbox.png) no-repeat -63px -94px;
    opacity:0.5;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .flat-image-button {
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 45%;
  }

  .flat-image-button.ng-animate.show-add, .flat-image-button.ng-animate.show-remove {
    opacity: 1;
    z-index: 2;
  }

  .flat-image-button.show {
    opacity: 1;
    z-index: 2;
  }

  .p360-image {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .p360-image.ng-animate.show-add, .p360-image.ng-animate.show-remove {
    opacity: 1;
  }

  .p360-image.show {
    opacity: 1;
  }
}

.repeat-enter-setup, .repeat-leave-setup {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.repeat-enter-setup { line-height:0; opacity:0; }
.repeat-enter-setup.repeat-enter-start { line-height:20px; opacity:1; }

.repeat-leave-setup { opacity:1; line-height:20px; }
.repeat-leave-setup.repeat-leave-start { opacity:0; line-height:0; }