@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  to {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

@keyframes rotateThis {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  to {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% {
    @include opacity(.3);
    @include scale(.7);
  }
  50% {
    @include opacity(1);
    @include scale(1.1);
  }
  70% {
    @include scale(.9);
  }
  to {
    @include scale(1);
  }
}

@keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% {
    @include opacity(.3);
    @include scale(.7);
  }
  50% {
    @include opacity(1);
    @include scale(1.1);
  }
  70% {
    @include scale(.9);
  }
  to {
    @include scale(1);
  }
}

//.repeat-enter-setup, .repeat-leave-setup {
//  -webkit-transition:all linear 0.3s;
//  -moz-transition:all linear 0.3s;
//  -ms-transition:all linear 0.3s;
//  -o-transition:all linear 0.3s;
//  transition:all linear 0.3s;
//}
//
//.repeat-enter-setup { line-height:0; opacity:0; }
//.repeat-enter-setup.repeat-enter-start { line-height:20px; opacity:1; }
//
//.repeat-leave-setup { opacity:1; line-height:20px; }
//.repeat-leave-setup.repeat-leave-start { opacity:0; line-height:0; }


@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }

}@-webkit-keyframes leave_sequence {
  from { opacity:1;}
  to { opacity:0;}
}
@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0;}
}

/** view page animation *******************************************************************/
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%    { transform: rotateZ(0deg); }
  20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% 	{ transform: rotateZ(17deg); }
  60% 	{ transform: rotateZ(16deg); }
  100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ @include translate(-30%, 0);
              @include opacity(0.3);
            }
}

@keyframes slideOutRight {
  to 		{ @include translate(100%, 0);
              @include opacity(0.3);}
}
@-webkit-keyframes slideOutRight {
  to 		{ @include translate(100%, 0);
              @include opacity(0.3);}
}

/* slide out from the bottom */
@keyframes slideOutDown {
  to 		{ transform: translateY(100%); }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from 	{ @include opacity(0.3);
    @include scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from 	{ @include opacity(0.3);
    @include scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform: translateX(100%); }
  to 	{ transform: translateX(0); }
}
.maps-view-page.ng-enter {
  @include animation(scaleUp 0.5s both ease-in);
}
.maps-view-page.ng-leave {
  @include animation(slideOutRight 0.5s both ease-in);
}


@keyframes hideIn {
  to 	{ @include scale(.5); @include opacity(0.3); }
}
//.main-view-page.ng-enter {
//  z-index: 9999;
//  animation: slideInRight 1s both ease-in;
//  .navbar-second {
//    top: 0;
//  }
//  .maps-container {
//    .content.right-fixed {
//      .left {
//        top: 51px;
//      }
//    }
//  }
//}
//.main-view-page.ng-leave {
//  z-index: 1111;
//  animation: hideIn 1s both ease-in;
//  .navbar-second {
//    top: 0;
//  }
//  .maps-container {
//    .content.right-fixed {
//      .left {
//        top: 51px;
//      }
//    }
//  }
//}