


/** baidu share */
.bd-share {
  z-index: 1029;
  @include transition-linear(all);
  .bds_more {
    height: 26px;
  }
}
.bd-share.active {
}

.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
  font-style: italic;
  color: #428bca;
  text-decoration: none;
}

