@import "../../node_modules/mathsass/dist/_math.scss";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss';
@import "_variables.scss";
@import '_mixins.scss';

@import 'comm.scss';
@import 'user.scss';
@import 'settings.scss';
@import 'travel.scss';
@import 'animation.scss';
@import 'flexText.scss';
@import 'map.scss';
@import 'photo.scss';
@import 'mapPhoto.scss';
@import 'directives.scss';
@import '_navbar.scss';
@import '_navs.scss';
@import '_icons.scss';
@import '_wall.scss';
@import '_modal.scss';
@import '_alerts.scss';
@import '_comment.scss';
@import '_scroll.scss';
@import 'photo-upload.scss';
@import 'dynamic-messages-layout.scss';
@import 'dynamic-message.scss';
@import 'ponm-photo-container.scss';
@import 'ponm-rect-multi-select.scss';
@import 'item-picker.scss';
@import '_card.scss';
@import 'ponm-travel-album.scss';
@import '_responsive.scss';
@import "_loader.scss";
@import "_button.scss";

body {
  background-color: $body-bg-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

/** editable */
pre.description {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: initial;
  white-space: pre-wrap; // firefox
}

pre.description.hover {
  background-color: $editable-hover-color;
}

.editable-input.hover {
  background-color: $editable-hover-color;
}

.icon-action-danger:hover {
  color: red;
}

/** editable css */
// editable-textarea
.editable {
  margin: 5px 0;

  .editable-wrap {
    white-space: pre-wrap;
    .editable-buttons {
      margin-top: 5px;
    }
  }

  pre {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: initial;
    color: $editable-active-color;
    border-bottom: dashed 1px $editable-active-color;
  }

  .editable-wrap.editable-textarea {
    width: 100%;
    .editable-controls.form-group {
      width: 100%;
      .editable-input {
        width: 100%;
      }
    }
  }
}


/** user thumbnail directive */
.media.user-info {
  .pull-left {
    img.media-object {
      height: 46px;
      width: 46px;
    }
  }
}

/** footnotes */
span.footnotes {
  font-size: 12px;
  color: #999;
  display: inline;
  margin-left: 0;
  text-align: left;
}



/** show hide animame */
.ponm-show-hide.ng-hide-add, .ponm-show-hide.ng-hide-remove {
  @include transition-linear(all);
  display:block!important;
}

.ponm-show-hide.ng-hide-add.ng-hide-add-active,
.ponm-show-hide.ng-hide-remove {
  opacity:0;
}

.ponm-show-hide.ng-hide-add,
.ponm-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.ponm-show {
  opacity:1 !important;
}

/** modal */
//.modal-header {
//  .modal-title {
//    float: left;
//  }
//}


.btn.btn-default.load-more {
  width: 100%;
  border: 0;
}
