.maps-container {
  .navbar {
    z-index: 1002;
    ul {
      li {
        line-height: 49px;
      }
    }
  }

  .searchbox {
    vertical-align: middle;
    display: inline-block;
    input {
      @include activable(#333333, #f8f8f8, $btn-default-border);
      min-width: 120px;
    }
    input:active, input:focus {
      min-width: 200px;
    }
    .input-group-btn {
      .btn.btn-default {
        @include activable(#333333, #f8f8f8, $btn-default-border);
      }
    }
  }
  .searchbox:focus {
    input {
      min-width: 200px;
    }
  }
  .searchbox:hover, .searchbox:focus, .searchbox:active {

    .input-group-btn {
      .btn.btn-default {
        color: #333333 !important;
        background-color: lighten(#f8f8f8, 5%) !important;
        border-color: darken($btn-default-border, 12%) !important;
      }
    }
  }

  .maps-content {
    position: absolute;
    top: $header-navbar-second-height;
    bottom: 0;
    width: 100%;

    .maps-left {
      position: fixed;
      top: $header-navbar-height+$header-navbar-second-height;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 600px 0 0;
      @include transition-linear(all);
    }

    .maps-right {
      position: absolute;
      top: 0;
      right: 0;
      min-height: 100%;
      background-color: #ececec;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.57);

      .photo-wall.photo-fluid-container {
        margin: 1px -1px;
      }

      .photo-container {
        padding: 10px;
        .photo {
          width: 100px;
          height: 100px;
          img {
            height: initial;
            width: initial;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .maps-content {

    &.maps-right-full {
      .maps-left {
        width: 0;
      }
      .maps-right {
        width: 100%;
        margin: 0;
        .navbar-third, .navbar-forth, .messages {
          width: 100%;
        }
      }
    }

    &.maps-left-full {
      .maps-left {
        width: 100%;
      }
      .maps-right, .messages {
        width: 0;
        display: none;
      }
    }
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  .map-canvas {
    height: 100%;
  }

  .map-controls {
    position: absolute;
    top: 0;
    left: 0;
  }

  .panoramio-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
  }

  /** amap style change */
  .amap-maptype-title {
    width: 100%;
  }
}

// maps layout buttons group
.navbar-second {
  .navbar-nav.navbar-right {
    .btn-group {
      .btn {
        border: 0;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .maps-content {
    &.maps-right-fixed {
      .maps-left {
        right: 0;
        margin: 0 600px 0 0;
      }
      .maps-right {
        width: 600px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 600px;
        }
      }
    }

    &.maps-left-fixed {
      .maps-left {
        right: 0;
        margin: 0 900px 0 0;
      }
      .maps-right {
        width: 900px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 900px;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .maps-content {
    &.maps-right-fixed {
      .maps-left {
        right: 0;
        margin: 0 400px 0 0;
      }
      .maps-right {
        width: 400px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 400px;
        }
      }
    }

    &.maps-left-fixed {
      .maps-left {
        right: 0;
        margin: 0 600px 0 0;
      }
      .maps-right {
        width: 600px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 600px;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .maps-content {
    &.maps-right-fixed {
      .maps-left {
        right: 0;
        margin: 0 400px 0 0;
      }
      .maps-right {
        width: 400px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 400px;
        }
      }
    }

    &.maps-left-fixed {
      .maps-left {
        right: 0;
        margin: 0 600px 0 0;
      }
      .maps-right {
        width: 600px;
        margin: 0 auto;
        .navbar-third, .navbar-forth, .messages {
          width: 600px;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-min) {
  .maps-container {
    .maps-content.maps-right-fixed {
      .maps-right {
        width: 100%;
        .navbar-third {
          width: 100%;
        }
      }
      .maps-left {
        width: 100%;
      }
    }
    .maps-content.maps-left-fixed {
      .maps-right {
        display: none;
      }
      .maps-left {
        margin: 0;
        width: 100%;
      }
    }
  }

}

/** map controls */
.searchbox, .searchbox-shadow {
  @include transition(box-shadow 200ms cubic-bezier(0.52, 0, 0.48, 1));
}

.searchbox-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0.0);
}

.searchbox {
  position: relative;
  background-color: #fff;
  //  border: 1px solid transparent;
  border-right: 0;
  @include box-sizing(border-box);
  height: 32px;
  width: 150px;
  outline: none;
  vertical-align: top;
  line-height: initial;

  input {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
  }

  .searchbutton {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 0;
    border-radius: 0 2px 2px 0;
    height: 32px;
    left: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 72px;
    color: white;
  }
}

.maps-travels {
  .travel {
    width: 214px;
    float: left;
    margin: 5px 10px 5px 0;
  }
}

// 用户照片页面
.maps-user {
  .header {
    padding: 30px 20px;
    border-bottom: 1px solid transparent;
    @include transition-linear(all);
  }
  .header.navbar-third {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid $theme-header-bd-color;
    background-color: rgba(255, 255, 255, .9);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    z-index: 1001;
  }
}
