
.photo_list_and_map {
  position: relative;
  height: 100%;
}

.photo_list_panel {
  height: 100%;
  display: inline-block;
  float:left;
  //    position: absolute;
  vertical-align: top;
  width: 160px;
  max-width: 160px;
  margin: 0 5px 5px 0;
  zoom: 1;
  z-index: 100;

  .list-group {
    height: 100%;
    overflow-y: auto;
    .list-group-item {
      width: 80%;

      -webkit-transition:all linear 0.3s;
      -moz-transition:all linear 0.3s;
      -ms-transition:all linear 0.3s;
      -o-transition:all linear 0.3s;
      transition:all linear 0.3s;
    }
    .list-group-item.active {
      width: 100%;
      //      border-color:green;
      border-right: solid blue;
      //      background-color: ghostwhite;
    }
  }
}

.map_photo_marker {
  position: absolute;
  bottom: 3px;
  right: 3px;
  height: 33px;
  width: 28px;
  z-index: 400;

  background-image: url(../images/photo-page.png);
  background-position: 0px -1450px;
}

.map_panel {
  position: relative;
  overflow: hidden;
  //    float: left;
  vertical-align: top;
  //    padding-left: 135px;
  //    width: 100%;
  height: 100%;
}

$selected_photo_editor_height: 160px;

.selected_photo_editor {
  //    position: absolute;
  background-color: #ececec;
  height: $selected_photo_editor_height;
  padding: 2px;
  top: 0;
  z-index: 100;
}

.selected_photo_editor .thumbnail {
  float: left;
}

.selected_photo_editor .thumbnail img {
  vertical-align: middle;
  max-width: 100%;
  max-height: $selected_photo_editor_height;
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
}

.map_panel #upload-map {
  position: absolute;
  width: 100%;
  margin: 5px 0;
  top: $selected_photo_editor_height + 10px;
  bottom: 0;
  //    padding-top: 170px;
}

.map_photo_thumbnail {
  width: 80%;
  max-width: 60px;
}

.map_photo_title {
  word-break:break-all;
  word-wrap:break-word;
}

.list-group-item.map_photo_cell.active {
  background-color: #3276b1;
}

#map-photo-list {
  height: 100%;
  position: relative;
  top: 0;
  bottom: 30px;
  overflow-y: auto;
}

.map_photo_cell {
  cursor: pointer;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 5px;
    padding: 0;
  }

  .modal-header {
    padding: 5px;
  }

  .modal-body {
    padding: 5px;
    position: absolute;
    top: 33px;
  }

  .photo_list_and_map .photo_list_panel {
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  #map-photo-list {
    bottom: 0;
    margin: 0;
  }

  .photo_list_and_map .map_panel {
    position: static;
    overflow: hidden;
    float: left;
    vertical-align: top;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .selected_photo_editor {
    position: static;
    display: inline-block;
  }

  .selected_photo_editor .thumbnail {
    float: none;
    margin: 0;
  }

  .map_panel #upload-map {
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    top: 0;
  }

  .list-group-item {
    padding: 5px;
  }
}

#map_canvas {
  width: 100%;
  height: 100%;
}

.map_panel .map-photo-map {
  @extend #upload-map;
  bottom: 60px;
}

.map-photo.modal-footer {
  padding: 2px;
  margin: 0;
}