/****************************************************************************************/
/** photo modal page ********************************************************************/

.photo-modal-container {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1099;

  .photo-container-header {
    height: 44px;
    margin: 0;
    border: 0;
    z-index: 2;
    .container-fluid {
      background-color: $photo-container-background-color;
      .cancel {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        cursor: pointer;
        opacity: .8;
      }
      .cancel:hover {
        opacity: 1;
      }

    }
  }

  .photo-container-body {
    background-color: $photo-container-background-color;
    min-height: 120px;
    z-index: 1;
    .buttons {
      position: absolute;
      bottom: 0;
    }
  }

  .photo-container-booter {
    @include transition(all 218ms);
    margin: 0;
    border: 0;
    .collapse.navbar-collapse {
      text-align: center;
      height: 51px !important;
    }
  }

  .navbar {
    .container-fluid {
      background-color: $photo-container-background-color;
      .collapse.navbar-collapse {
//        text-align: center;
        .nav.navbar-nav.center-block {
          display: inline-block;
          float: initial;
          .text-explain {
            line-height: 50px;
            margin-left: 10px;
            span {
              vertical-align: middle;
            }
          }
        }
      }

    }
  }

  .photo-info {
    @include transition(all 218ms);

    background-color: $photo-info-frontground-color;

    .info-container {
      -webkit-perspective: 3000px;
      perspective: 3000px;
      -webkit-perspective-origin: 50% 200px;
      perspective-origin: 50% 200px;
      width: 100%;
      background-color: $photo-info-background-color;

      .user-container {
        left: 0;
        right: 0;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        background-color: $photo-info-background-color;

        .user-info {
          overflow-x: hidden;
          overflow-y: auto;
          height: auto;
        }

        .content {
          margin: 10px 0;
          .description {
            padding: 0;
            margin: 0;
            border: 0;
            background-color: initial;
          }

          .description.photo-description {
            color: #404040;
            margin-top: 10px;
            word-wrap: break-word;
          }
        }
      }

      .photo-detail {
        background-color: $photo-info-frontground-color;
        .btn-detail {
          border: 0;
          background-color: $photo-info-frontground-color;
          border-radius: 0;
        }

        .detail-well {
          padding: 15px;
        }

        table {
          .name {
            color: #aaa;
            text-align: left;
            width: 35%;
          }
          .value {
            color: #404040;
            word-break: break-all;
          }

          .datepicker {
            .dropdown-menu {
              left: 2px !important;
            }
          }
        }
      }

      .communication {
        margin-top: 2px;
        background-color: whitesmoke;
        .status {
          padding: 10px;
          .glyphicon {
            font-size: 12px;
          }
        }
      }
    }

    .comments  {
      .comment-container.scroller {
        max-height: initial;
      }
    }

    .comment {
      .editable-buttons {
        float: left;
      }
      .editable-wrap.editable-textarea {
        width: 100%;
        .editable-controls.form-group {
          width: 100%;
          .editable-input {
            width: 100%;
          }
        }
      }
    }
  }
}

.photo-travel-album {
  .travel-album-background {
    position: fixed;
    width: 100%;
    height: 0;
    opacity: .75;
    background-color: #000;
    z-index: 100;
  }
  .travel-album-background.ng-animate.show-add, .travel-album-background.ng-animate.show-remove {
    height: 100%;
  }
  .travel-album-background.show {
    height: 100%;
  }

  .travel-album-container {
    position: fixed;
    left: 0;
    bottom: 50px;
    right: 320px;
    background-color: #000;
    overflow: hidden;
    height: 0;
    z-index: 101;

    @include transition-linear(height);

    .header {
      position: relative;
      background-color: #333;
      color: #fff;
      font-weight: bold;
      height: 30px;
      padding: 5px 0 0 40px;
      width: 100%;
      display: inline-block;

      .close {
        margin: 0 10px;
        color: white;
      }
    }

    .body {
      height: 220px;
      margin-right: 0px;
      outline: none;
      overflow-x: hidden;
      overflow-y: auto;

      .image {
        width: 100px;
        height: 100px;
        float: left;
        margin: 5px;
        overflow: hidden;
      }
    }
  }

//  .travel-album-container.ng-enter, .travel-album-container.ng-remove {
//    height: 283px;
//  }
  .travel-album-container.show {
    height: 283px;
  }
}

.photo-recommend-album {
  .recommend-album-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    opacity: .75;
    background-color: #000;
    z-index: 2;
  }
  .recommend-album-background.ng-animate.show-add, .recommend-album-background.ng-animate.show-remove {
    height: 100%;
  }
  .recommend-album-background.show {
    height: 100%;
  }

  .recommend-album {
    position: relative;
    box-shadow: 0 0 20px 1px #777;
    background: #212121;
    color: #fff;
    height: 0;
    padding: 0;
    width: 882px;
    margin: 50px auto;
    display: none;
    @include transition-ease-out(height);
    z-index: 2;
  }

  .recommend-album.ng-animate.show-add, .recommend-album.ng-animate.show-remove {
    height: 400px;
    display: block;
  }
  .recommend-album.show {
    height: 400px;
    display: block;
  }
}
@media (min-width: $screen-xs-min) {
  .photo-modal-container {
    .photo-container-header {
      left: 0;
      position: absolute;
      right: 320px;
      top: 0;
    }
    .navbar {
      .container-fluid {
        .collapse.navbar-collapse {
          text-align: center;
          .nav {
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            float: initial;
          }
        }
      }
    }
    .photo-container-body {
      position: absolute;
      top: 50px;
      bottom: 50px;
      left: 0;
      right: 320px;
    }
    .photo-container-booter {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 320px;
    }
    .photo-info {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 320px;
    }
  }
}

/** photo modal page ********************************************************************/
/****************************************************************************************/

/****************************************************************************************/
/** photos page *************************************************************************/
.photos {
  width: 100%;
  .container-photos {
    @include transition-linear(top);
    transition: top linear 0.3s;
    position: relative;
  }

  .container-photos.expand {
    position: absolute;
    top: 0;
  }
  .select-pane {
    position: relative;
  }
}


// photos all
.photo-wall.photo-wall-fixed-size.photo-all {
  .photo {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: initial;
    background-color: $photo-bg;
  }
}

// photos travel
.photo-travel {
  >.header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  .spot {
    clear: both;
    padding: 10px;
    @include activable(initial, $body-bg, $body-bg);
  }

  .spot {
    .header {
      .item {
        margin: 5px;
      }
    }
  }
}

.photo-container {
  .photo.fluid-brick {
    border: 0;
    box-shadow: initial;
    background-color: initial;
    display: inline-block;
    float: initial;
    img {
      width: initial;
      height: 100%;
    }
  }
}

// photos travels
.photo-travels {
  .travel {
    width: 200px;
    float: left;
    margin: 10px;
    cursor: pointer;
    a:hover {
      text-decoration: initial;
    }
    .thumbnail {
      .album-cover {
        width: 190px;
        height: 190px;
        background-color: grey;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// photos move modal
.album-selection {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 300px;
  margin-top: -10px;
  overflow-y: auto;

  .album.new {
    border-bottom: 1px solid #dadada;
    cursor: pointer;
    font-size: 13px;
    outline: 0;
    padding: 20px 25px;
    position: relative;
//    top: -15px;
    width: 100%;
    .name {
      -webkit-border-radius: 1px;
      border-radius: 1px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #d8d8d8;
      color: #333;
      display: inline-block;
      height: 29px;
      line-height: 20px;
      margin: 0;
      padding: 8px;
      width: 325px;
    }
  }
  .album.travel {
    position: relative;
    width: 200px;
    float: left;
    margin: 10px;
    cursor: pointer;
    border: 3px solid transparent;
  }

  .album.travel.travel-selected {
    background-color: $active-color;
    border: 3px solid $active-color;
  }
  .album.new.travel-selected {
    background-color: $active-color;
  }
}

// photo trash
.photo-trash-container {
  .photo-trash {
    padding: 20px 10px;
    margin: 10px ;
    @include activable(initial, $body-bg, $body-bg);
  }
}

//text clickable
span.clickable {
  margin: 0 10px;
  color: #427fed;
  cursor: pointer;
}
span.clickable:hover {
  text-decoration: underline;
}

// selection pane
.select-pane {
  position: relative;
}
/** photos page *************************************************************************/
/****************************************************************************************/
