.photo-upload {

  .header {
    padding: 20px 16px 0;
    @include transition-linear(all);

    .fileupload-buttonbar {
      padding: 15px 5px;
      @include transition-linear(all);
      .btn {
        @include transition-linear(all);
      }
      .col {
        line-height: 34px;
        @include transition-linear(all);
      }
    }
    .progress {
      @include transition-linear(all);
    }
    .message {
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 100%;
      margin-left: -100px;
      width: 200px;
    }
  }
  .header.navbar-third {
    right: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1001;

    padding: 5px 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .fileupload-buttonbar {
      padding: 5px 0;
      .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }
      .col-sm-4 {
        line-height: inherit;
      }
    }
    .progress {
      height: 5px;
      margin-bottom: 0;
    }

  }

  .table.files {
    table-layout: fixed;

    .photo-thumbnail {
      width: 18%;
    }
    .photo-info {
      width: 100px;
    }

    // editable a link
    a.editable-empty {
      color: #428bca;
    }

    // one row is .photo
    .photo {
      .preview {
        cursor: pointer;
        canvas {
          max-width: 100%;
        }
      }
      .preview.drag-marker {
        position: relative;
        .marker {
          position: absolute;
          width: 20px;
          height: 30px;
          background-image: url("../images/marker.png");
          background-repeat: no-repeat;
        }
        img {
          @include opacity(0);
        }
      }

      .action {
        @include opacity(.3);
      }

      p {
        margin: 0 0 4px;
      }

      &:hover, &.hover, &:active, &.active {
        .action {
          @include opacity(1);
        }
        .geo-info {
          .palce-marker {
            @include animation(ttPhotosSelectionOverlayCheckmarkSelectedTransition .3s linear 0s 1);
          }
        }
      }
    }

    // upload photo row animation
    .photo {
//      @include transition(opacity, .5s ease-in);
      &.ng-enter {
        @include opacity(0);
//        @include animation(opacityIn 0.5s ease-in);
//        @include transition-transform(.5s ease-in);
//        -webkit-transform: rotateX(40deg) translateZ(100px);
//        transform: rotateX(40deg) translateZ(100px);
//        @include scale(.6);
      }
      &.ng-enter.ng-enter-active {
        @include opacity(1);
//        -webkit-transform: rotateX(0deg) translateZ(100px);
//        transform: rotateX(0deg) translateZ(100px);

//        @include scale(1);
      }

      &.ng-leave {

//        @include animation(opacityOut 0.5s ease-out);
//        @include transition-transform(.5s ease-out);
//        -webkit-transform: rotateX(0deg) translateZ(100px);
//        transform: rotateX(0deg) translateZ(100px);
      }
      &.ng-leave.ng-leave-active {
        @include opacity(0);
//        -webkit-transform: rotateX(0deg) translateZ(100px);
//        transform: rotateX(0deg) translateZ(100px);
//        @include scale(.6);

      }
    }

    .geo-info {
      width: 35%;
      .palce-marker {
        display: inline;
        cursor: pointer;
      }

      .location-display-place {
        display: inline;
      }
      .location-display-address {
        display: inline;
      }
      .have-address {
        .glyphicon {
          color: $brand-success;
        }
      }
    }

    .status {
      width: 32px;
      text-align: center;
      .action {
        display: inline-block;
      }
      .glyphicon-cloud, .glyphicon-share-alt {
        color: $brand-success;
      }
      .glyphicon-warning-sign {
        color: $brand-warning;
      }
    }

  }
}
