.photo-upload {

  .header {
    padding: 20px 16px 0;
    @include transition-linear(all);

    .fileupload-buttonbar {
      padding: 15px 5px;
      @include transition-linear(all);
      .btn {
        @include transition-linear(all);
      }
      .col {
        line-height: 34px;
        @include transition-linear(all);
      }
    }
    .progress {
      @include transition-linear(all);
    }
    .message {
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 100%;
      margin-left: -100px;
      width: 200px;
    }
  }
  .header.navbar-third {
    right: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1001;

    padding: 5px 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .fileupload-buttonbar {
      padding: 5px 0;
      .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }
      .col-sm-4 {
        line-height: inherit;
      }
    }
    .progress {
      height: 5px;
      margin-bottom: 0;
    }

  }

  .table.files {
    table-layout: fixed;

    .photo-thumbnail {
      width: 18%;
    }
    .photo-info {
      width: 100px;
    }

    // editable a link
    a.editable-empty {
      color: #428bca;
    }

    // one row is .photo
    .photo {
      .preview {
        cursor: pointer;
        canvas {
          max-width: 100%;
        }
      }
      .preview.drag-marker {
        position: relative;
        .marker {
          position: absolute;
          width: 20px;
          height: 30px;
          background-image: url("../images/marker.png");
          background-repeat: no-repeat;
        }
        img {
          opacity: 0;
        }
      }

      .action {
        opacity: 0.3;
      }

      p {
        margin: 0 0 4px;
      }
    }

    .photo.ng-enter {
      -webkit-animation: enter_sequence 500ms ease-out; /* Safari/Chrome */
      animation: enter_sequence 500ms ease-out; /* IE10+ and Future Browsers */
    }

    .photo.ng-leave {
      -webkit-animation: leave_sequence 500ms ease-in; /* Safari/Chrome */
      animation: leave_sequence 500ms ease-in; /* IE10+ and Future Browsers */
    }
    
    .photo:hover, .photo.hover {
      .action {
        opacity: 1;
      }
      .geo-info {
        .palce-marker {
          -webkit-animation: ttPhotosSelectionOverlayCheckmarkSelectedTransition .3s linear 0s 1;
          animation: ttPhotosSelectionOverlayCheckmarkSelectedTransition .3s linear 0s 1;
        }
      }
    }

    .geo-info {
      width: 35%;
      .palce-marker {
        display: inline;
        cursor: pointer;
      }

      .location-display-place {
        display: inline;
      }
      .location-display-address {
        display: inline;
      }
      .have-address {
        .glyphicon {
          color: $brand-success;
        }
      }
    }

    .status {
      width: 32px;
      text-align: center;
      .action {
        display: inline-block;
      }
      .glyphicon-cloud, .glyphicon-share-alt {
        color: $brand-success;
      }
      .glyphicon-warning-sign {
        color: $brand-warning;
      }
    }

  }
}