.travel-album {
  width: 100%;
  position: relative;

  .front-cover {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      margin-top: -20%;
      margin-bottom: -20%;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      color: white;
      a {
        color: white;
      }
    }

    .footer {
      position: absolute;
      bottom: 70px;
      left: 10px;
      padding: 10px;
      opacity: 0;
      color: white;
    }
  }

  .auxiliary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.45);
    overflow: hidden;
    .auxiliary-photo {
      margin: 1px 2px;
      border: 1px solid rgba(255, 255, 255, 0.9);
      display: inline-block;
      @include transition(all $transition-time ease-in);
      &:hover {
        border-color: $theme-color-primary;
        @include scale(1.1);
      }
    }
  }

  &:hover {
    .front-cover {
      .header {

      }
      .footer {
        opacity: 1;
        @include transition(background-color .218s,opacity .75s ease .5s,visibility 0 .5s);
        background-color: rgba(0,0,0,0.6);
      }

      .footer:hover {
        background-color: rgba(0,0,0,0.8);
      }
    }
  }
}
