.travel-album {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 10px grey;
  /* border: 1px solid grey; */
  margin: 3px; }
  .travel-album .front-cover {
    margin-right: 1px;
    float: left;
    position: relative; }
    .travel-album .front-cover .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px; }
    .travel-album .front-cover .footer {
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 10px; }
