.container.settings {
  padding: 5px 0;
}

.nav.nav-links {
  > li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: $list-group-bg;
    border: 1px solid $list-group-border;
  }
  > li:first-child {
    @include border-top-radius($list-group-border-radius);
  }
  > li:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  li {
    .glyphicon {
      color: grey;
      opacity: .5;
    }
    // Disabled state
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      background-color: $nav-links-disabled-bg;
      color: $nav-links-disabled-color;
      cursor: not-allowed;

      // Force color to inherit for custom content
      .list-group-item-heading {
        color: inherit;
      }
      .list-group-item-text {
        color: $nav-links-disabled-text-color;
      }
    }
  }
  li:hover, li.active {
    a {
      color: #000000;
    }
    .glyphicon {
      opacity: 1;
    }
  }
}

.module {
  margin-bottom: 10px;
  @include border-radius(6px);
  .ProfileCard {
    background-color: white;
    border: 1px solid #dddddd;
    .ProfileCard-userFields {
      height: initial;
    }
  }
}

.avatar-upload-modal {
  .modal-dialog {
    .avatar-form {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 10px;
      .row {
        margin: 5px 0;
      }
      .alert-row {
        height: 50px;
      }
      .img-cropper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 100px 0 0;
        .jcrop-holder {
          float: left;
        }
      }
    }
  }
}

.image-selector {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 100px;
  overflow: hidden;
  cursor: pointer;
  .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 9;
    cursor: pointer;
  }
  .file-input {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
  }
}