.maps-travel {
  width: 100%;
  height: 100%;
  .content-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    @include opacity(.7);
    background-color: white;
    padding: 100px 0;
  }

  pre.description {
    white-space: pre-wrap; //pre-wrap; // firefox
  }

  .travel-header {
    width: 100%;
    background-color: $theme-header-bg-color;
    padding: 10px;
    color: white;
    font-family: $headings-font-family;

    @include transition-linear(all);
    h2 {
      margin-top: 0;
    }


    .media.user-info {
      position: relative;
      .media-heading {
        font-family: $headings-font-family;
        @include transition-linear(all);
      }
      .pull-left {
        img.media-object {
          @include transition-linear(all);
        }
      }
      .media-body {
        @include transition-linear(all);
        .media-heading {
          @include transition-linear(all);
        }

        .title {
          display: inline-block;
        }
        span.footnotes {
          color: white;
        }
      }

      .bd-share {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .travel-header.navbar-third {
    @include box-shadow(0px 5px 15px -5px rgba(50, 50, 50, 0.5));
    opacity: .9;

    .travel-desc {
      opacity: 0;
      margin: 0;
      display: none;
    }
  }

  .travel-description {
    padding: 5px;
    .travel-desc {
    }
  }

  .travel-content {
    width: 100%;
    .panel.panel-default.travel-spot {
      position: relative;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid $theme-header-bd-color;

      .action.spot-remove {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      .panel-heading {
        padding: 5px;
        background-color: whitesmoke;
      }
      .panel-heading.navbar-forth {
        border-radius: 0;
        padding: 0 5px;
        border-bottom: 1px solid $theme-header-bd-color;
        .spot-description {
          display: none;
        }
        .travel-spot-header {
          .spot-date {
            border-color: $theme-header-bd-color;
            a {
              color: $theme-header-bd-color;
            }
            .spot-date-flag {
              color: $theme-header-bd-color;
            }
          }
        }
      }

      .panel-body {
        padding: 0;
        margin: 0 -1px;
      }

      .spot-date.navbar-forth {
        background-color: white;
        left: initial;
        right: 0;
      }
    }
    .panel.panel-default.active {
      .spot-date {
        background-color: white;
        left: -10px;
        @include box-shadow(0px 3px 10px -2px rgba(50, 50, 50, 0.75));
      }
    }

    .travel-spot:hover, .travel-spot.hover {
      >.action {
        opacity: 1 !important;
      }
    }
  }

  .message-card {
    opacity: 1;
  }
}

.travel-spot-header {
  position: relative;
  padding: 5px 5px 5px 95px;
  min-height: 85px;

  .spot-date {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 0;
    border: 1px solid grey;
    border-radius: 50px;

    a {
      color: grey;
    }

    >a:hover {
      text-decoration: none;
    }
    .spot-date-txt {
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      display: block;
      font-family: "Gulim";
    }

    .spot-date-flag {
      display: block;
      font-weight: bold;
    }
  }

  .info {
    margin: 5px 0;
    address {
      margin: 0;
    }
  }
}
.travel-circle-header.navbar-forth {
  right: 0;
}

.control-label {
  text-align: right;
}

/* travel's photo */
.travel-content {
  .photo {
    .action.datetime-picker {
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: 0;
    }

    .ponm-photo-remove {
      position: absolute;
      top: 4px;
      right: 4px;
      color: white;
      .glyphicon {
        font-size: 12px;
      }
    }

    .ponm-photo-remove:hover {
      color: red;
    }

    .action.ponm-photo-option {
      position: absolute;
      top: 5px;
      left: 5px;
      opacity: 0;
    }

    .action.ponm-show {
      opacity: 1;
    }
  }
  .photo:hover, .photo:active, .photo:focus {
    z-index: 2;
    .action {
      opacity: 1;
    }
  }
}

/** date picker */
.ponm-datepicker {
  .dropdown-menu {
    padding: 0;
  }
}
