.maps-travel {
  width: 100%;
  height: 100%;

  pre.description {
    white-space: pre-wrap; //pre-wrap; // firefox
  }

  .travel-header {
//    position: absolute;
//    top: 0;
    width: 100%;
//    height: 250px;
    background-color: #00bcd4;
    padding: 50px 10px 10px;
//    z-index: 1027;
    color: white;
    font-family: $headings-font-family;

    @include transition-linear(all);
    h2 {
      margin-top: 0;
    }
    .travel-desc {
      @include transition-linear(all);
      margin: 10px 0;
    }

    .media.user-info {
      position: relative;
      .media-heading {
        font-family: $headings-font-family;
        @include transition-linear(all);
      }
      .pull-left {
        img.media-object {
          @include transition-linear(all);
        }
      }
      .media-body {
        @include transition-linear(all);
        .media-heading {
          @include transition-linear(all);
        }

        .title {
          display: inline-block;
        }
        span.footnotes {
          color: white;
        }
      }

      .bd-share {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .travel-header.navbar-third {
    padding: 10px;
    @include box-shadow(0 0 0 rgba(0, 0, 0, 0.57));
    .media.user-info {
//      line-height: 30px;
      .media-body {
        .media-heading {
          display: inline;
          vertical-align: middle;
          margin: 0 5px;
        }
        .media-footer {
          display: none;
        }
      }
      .pull-left img.media-object {
        height: 30px;
        width: 30px;
        display: inline-block;
      }
    }

    .travel-desc {
      opacity: 0;
      margin: 0;
      display: none;
    }
  }

  .travel-content {
    width: 100%;
//    margin: 260px 0;
    .panel.panel-default.travel-spot {
      position: relative;
      margin-bottom: 10px;
      border: 0;

      .action.spot-remove {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      .panel-heading {
        padding: 5px;
        background-color: whitesmoke;
      }
      .panel-heading.navbar-forth {
        border-radius: 0;
        padding: 0 5px;
        border-bottom: 1px solid #00bcd4;
        .spot-description {
          display: none;
        }
        .travel-spot-header {
          .spot-date {
            border-color: #00bcd4;
            a {
              color: #00bcd4;
            }
            .spot-date-flag {
              color: #00bcd4;
            }
          }
        }
      }

      .panel-body {
        padding: 0;
        margin: 0 -1px;
      }

      .spot-date.navbar-forth {
        background-color: white;
        left: initial;
        right: 0;
      }
    }
    .panel.panel-default.active {
      .spot-date {
        background-color: white;
        left: -10px;
        @include box-shadow(0px 3px 10px -2px rgba(50, 50, 50, 0.75));
      }
    }

    .travel-spot:hover, .travel-spot.hover {
      >.action {
        opacity: 1 !important;
      }
    }
  }
}

.travel-spot-header {
  position: relative;
  padding: 5px 5px 5px 95px;
  min-height: 100px;

  .spot-date {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 80px;
    height: 80px;
//    background-color: orange;
    text-align: center;
    padding: 0;
    border: 1px solid grey;
    border-radius: 50px;

    a {
      color: grey;
    }

    >a:hover {
      text-decoration: none;
    }
    .spot-date-txt {
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      display: block;
      font-family: "Gulim";
    }

    .spot-date-flag {
      display: block;
      font-weight: bold;
    }
  }

  .info {
    margin: 5px 0;
  }
}
.travel-circle-header.navbar-forth {
  right: 0;
}

.control-label {
  text-align: right;
}

/* 旅行相册中的图片 */
.photo {
  .action.datetime-picker {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .ponm-photo-remove {
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
    .glyphicon {
      font-size: 12px;
    }
  }

  .ponm-photo-remove:hover {
    color: red;
  }

  .ponm-photo-option {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .action.ponm-show {
    opacity: 1;
  }
}

/** date picker */
.ponm-datepicker {
  .dropdown-menu {
    padding: 0;
  }
}