.interim-info-card {
  .interim-tags li {
    display: inline;
    list-style-type: none;
  }

  .interim-tags li:before {
    content: " \002022 ";
  }
}

.thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(88, 88, 59, 0.24);
  width: 100%;
}