
/** login page **********************/
.login-container {
  height: 100%;
//  background-color: #1abc9c;
//  background-image: url('../images/login-background.jpg');
  .login-form {

  max-width: 750px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .form-header {
    height: 20px;
    margin: 20px 0;
    text-align: center;
    span {
      background: yellow;
    }
//    .fa-user {
//      font-size: 50px;
//      color: #ffffff;
//      border-radius: 50%;
//      border: 3px solid #E7E7E7;
//      padding: 15px 20px;
//      background: #f6f8f9;
//      background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
//      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
//      background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
//      background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
//      background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
//      background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
//      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=1);
//    }
  }

  .form-main {
    background: rgba(0,0,0,.4);
    padding: 40px 50px;
    .form-group {
      margin-bottom: 15px;
      input[type="text"], input[type="password"] {
//        background-color: #404040;
        background-color: rgba(64, 64, 64, .5);
        padding-left: 20px;
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
        color: #cccccc;
        height: 43px;
      }

      input.ng-dirty.ng-invalid {
        border: 1px solid red;
      }
      input.ng-dirty.ng-invalid-required {
        border: 1px solid red;
      }
      input.ng-valid {
        border: 1px solid green;
      }
    }

    .signin:hover {
      background-color: #ff6610;
    }
    .signin {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #428bca;
      border-radius: 0;
      color: #ffffff;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
    }


  }

  .form-footer {
    background: rgba(0,0,0,.4);
    padding: 20px 50px;
    a:hover {
      text-decoration: none;
    }
    a {
      color: #999999;
      font-size: 10pt;
    }
  }
  }
}

.password-strength {
  display:inline;
  list-style:none;
  margin:0;
  margin-left:15px;
  padding:0;
  vertical-align:2px;

  .point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
  }

}

.signup {
//  .form-control.ng-dirty.ng-invalid {
//    border: 1px solid red;
//  }

  input.ng-pristine + ul#strength {
    display:none;
  }

//  .point:last {
//    margin:0 !important;
//  }

  .footer {
    position:fixed;
    bottom:5px;
  }
}

// user page
.user {
  .navbar-second {
    position: relative;
    top: 0;
    .navbar {
//      box-shadow: initial;
    }
    .ProfileCanopy-card {
      @include box-sizing(border-box);
      height: 51px;
      max-width: 100%;
      overflow: hidden;
      padding-top: 51px;
      transition: padding-top .3s;
      float: left;
      .ProfileCardMini {
        padding: 8px;
        .ProfileCardMini-avatarImage {
          border-radius: 4px;
          height: 36px;
          max-width: 100%;
          width: 36px;
        }

        .media-body {
          .media-heading {
            margin: 0;
          }
        }
      }
    }
  }

  .navbar-second.navbar-second-top {
    position: fixed;
    z-index: 1030;
    .ProfileCanopy-card {
      padding-top: 0;
    }
  }

  .container.user {
    padding: 10px 0;
  }
}

.user-followers {

  .follower {
    padding: 0 5px;
    margin-bottom: 10px!important;
  }

  .block {
    width: 10px;
    height: 1000px;
  }
}

.user-following {

  .following {
    padding: 0 5px;
    margin-bottom: 10px!important;
  }

  .block {
    width: 10px;
    height: 1000px;
  }
}

.ProfileCard {
  max-width: 288px;
//  height: 300px;
  text-align: left;
//  border: 1px solid #e1e8ed;
  @include box-sizing(border-box);

  .ProfileCard-bg {
    width: 100%;
    height: 90px;
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      @include border-radius(2px);
    }
  }
  .ProfileCard-content {
    position: relative;
    margin: 10px 15px;
    padding: 15px 0;
    .ProfileCard-avatarLink {
      @include border-radius(6px);
      display: inline-block;
      margin: -45px 2px 0 -3px;
      position: relative;
      vertical-align: bottom;
      z-index: 1;
      height: 70px;
      width: 70px;
      border: 3px solid white;
      img {
        @include border-radius(6px);
      }
    }
    .ProfileCard-avatarImage {
      border-radius: 5px;
      display: block;
      height: 70px;
      width: 70px;
    }

    .ProfileCard-actions {
      display: inline-block;
      height: 35px;
      margin: 0 0 -4px 0;
      position: absolute;
      right: 0;
      vertical-align: bottom;
    }

    .ProfileCard-userFields {
      height: 150px;
      .ProfileCard-desc {
        margin-top: 5px ;
      }
      .ProfileCard-desc.scroller {
        position: relative;
        max-height: 120px;
        overflow-y: hidden;
      }
    }
  }

}

.WhoToFollow {
  margin-top: 10px;
  padding: 15px;
  .WhoToFollow-header {
    margin-bottom: 10px;
  }
  .WhoToFollow-title {
    color: #66757f;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
  }

  .WhoToFollow-users {
    >.account-summary {
      margin-bottom: 15px;
    }
  }
}

.account-summary{
  position: relative;
  display: block;
  min-height: 48px;
  .dismiss {
    margin-top: 0;
    color: #ccd6dd;
  }

  .content {
    margin-left: 58px;
    margin-right: 20px;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.dismiss {
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  -moz-force-broken-image-icon: 1;
}

.user-card {
  width: 230px;
  z-index: 1999;
}
//.user-card:hover {
//  display: block !important;
//}

.ProfileSidebar {
  .Footer {
    border-radius: 0;
    border: 0;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    .u-cf {
      padding: 0;
    }
    .Footer-item {
      display: inline-block;
      color: grey;
    }
    a {
      color: grey;
    }
  }
}

.Trends {
  margin-top: 10px;
  padding: 15px;
  h5 {
    margin: 0;
    display: inline-block;
  }
}

.follow-button {
  .button-text {
    font-weight: bold;
  }
}

