.interim-info-card {
  .interim-tags li {
    display: inline;
    list-style-type: none;
  }

  .interim-tags li:before {
    content: " \002022 ";
  }
}

.thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(88, 88, 59, 0.24);
  width: 100%;
}

/** login page **********************/
.login-container {
  height: 100%;
//  background-color: #1abc9c;
//  background-image: url('../images/login-background.jpg');
  .login-form {

  max-width: 750px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .form-header {
    padding: 20px 0;
    text-align: center;
    .fa-user {
      font-size: 50px;
      color: #ffffff;
      border-radius: 50%;
      border: 3px solid #E7E7E7;
      padding: 15px 20px;
      background: #f6f8f9;
      background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
      background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=1);
    }
  }

  .form-main {
//    background-color: #505050;
    background-color: rgba(80, 80, 80, .5);
    padding: 40px 50px;
    .form-group {
      margin-bottom: 15px;
      input[type="text"], input[type="password"] {
//        background-color: #404040;
        background-color: rgba(64, 64, 64, .5);
        padding-left: 20px;
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
        color: #cccccc;
        height: 43px;
      }

      input.ng-dirty.ng-invalid {
        border: 1px solid red;
      }
      input.ng-dirty.ng-invalid-required {
        border: 1px solid red;
      }
      input.ng-valid {
        border: 1px solid green;
      }
    }

    .signin:hover {
      background-color: #ff6610;
    }
    .signin {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #428bca;
      border-radius: 0;
      color: #ffffff;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
    }


  }

  .form-footer {
//    background-color: #404040;
    background-color: rgba(80, 80, 80, .5);
    padding: 20px 50px;
    a:hover {
      text-decoration: none;
    }
    a {
      color: #999999;
      font-size: 10pt;
    }
  }
  }
}
