body > .navbar .brand {
    color: #000000;
    font-weight: bold;
    margin-left: 0;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

body > .navbar.navbar-fixed-top {
    margin: 0;
}

body > .container {
    position: absolute;
    top: 50px;
    padding: 0;
    bottom: 0;
    width: 100%
}

body > .container > .row {
    height: 100%;
    margin: 0;
}

body#login {
    padding-bottom: 40px;
}

.navbar .brand:hover {
    color: #0099ff;
}

/* navbar-start *******************************************************/
.navbar.navbar-fixed-top {
    background-color: #000000;
}

.glyphicon{
    font-size: 16px;
}

#nav-search-form .form-control {
    width: auto;
}

.navbar.navbar-fixed-top span {
    color: #7e7e7e;
}

.navbar.navbar-fixed-top a:hover {
    color: #fff;
}

.white, .white a {
    color: #7e7e7e;
}

.nav.navbar-nav .white:hover, .white a:hover {
    color: #fff;
}

.nav.navbar-nav a:hover {
    background-color: #000000;
}

#navbar-search {
    width: 240px;
    margin-top: 8px;
    color: #f0ad4e;
}

.nav.navbar-nav .btn-group {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 5px;
    height: 50px;
}
.navbar-logo {
    width: 130px;
    height: 90%;
}
/* navbar-end */

#switchLocale {
    position: absolute;
    right: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

legend {
    margin-bottom: 0;
}

/* FORMS */

.controls.readonly {
    padding-top: 5px;
}

.well.form-horizontal {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#FFFFFF),to(#f5f5f5));
}

.well.form-horizontal .form-actions {
    margin-bottom: 0;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group .btn, .form-actions .btn {
    margin-left: 5px;
}

#search {
    float: right;
    margin-top: -40px;
}

#search input[type="text"] {
    display: inline-block;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading {
    margin: 0 0 20px 0;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#login p {
    text-align: center
}

.span7 > form.well, .span7 > form.well {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* form input {
    width: 90%;
} */

/* TABLES */

th.sorted a, th.sortable a {
    display: block;
}

.table th.order1 a {
    background-image: url(../images/arrow_down.png);
}

.table th.order2 a {
    background-image: url(../images/arrow_up.png);
}

.table th.sorted a, .table th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

div.exportlinks a {
    text-decoration: none;
}

div.exportlinks span {
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

span.csv {
    background-image: url(../images/ico_file_csv.png);
}

span.excel {
    background-image: url(../images/ico_file_excel.png);
}

span.pdf {
    background-image: url(../images/ico_file_pdf.png);
}

span.xml {
    background-image: url(../images/ico_file_xml.png);
}

span.export {
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 1px 20px;
}

span.pagebanner {
    display: block;
    margin: 0 0 0 10px;
    padding: 2px 4px 2px 0;
}

span.pagelinks {
    display: block;
    font-size: .95em;
    margin-bottom: 5px;
    margin-top: -18px;
    padding: 2px 0 2px 0;
    text-align: right;
    width: 80%;
}

/* FOOTER */
#footer {
    position: fixed;
    bottom: 0;
    clear: both;
    margin: auto auto;
    padding: 0 0 5px 0;
    border-top: 0 solid #f0f0f0;
    text-align: center;
    background-color: white;
    color: #808080;
    font-size: 0.9em;

    -webkit-transition: right 2s; /* For Safari 3.1 to 6.0 */
    transition: right 2s;
}

#footer:active {
    right: 0;
}

#footer a {
    color: #808080;
    text-decoration: none;
    margin-left: 5px;
}

#footer a:hover {
    text-decoration: underline;
}

#footer p {
    margin: 0;
}

#footer span.left, #footer span.right {
    text-align: center;
    margin: 5px;
    padding: 0 10px;
}

/* END FOOTER */

.hide {
    display: none;
}

.left {
    margin: 10px 10px 5px 0;
    float: left;
}

.right {
    margin: 10px 0 5px 10px;
    float: right;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}

/* Desktop
------------------------- */
@media (max-width: 980px) {

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    body {
        padding-top: 0;
    }

    body > .navbar .brand {
        margin-left: 10px;
    }

    #search {
        float: none;
        margin-top: 0;
    }
}

/* cnmap
------------------------------------------*/

body {
    background-color: #ececec;
}

.container {
    width: auto;
    padding: 0;
    margin: 0 auto;
}

#main-photo-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media all and (max-width: 740px) {
    .photo-col {
        width: 100%;
        margin: 20px 0 0 0;
        display: inline-block;
    }

    .info-col {
        width: 100%;
    }

    #main-photo-wrapper img {
        max-width: 100%;
    }
}

@media all and (max-width: 960px) and (min-width: 741px) {
    .photo-col {
        width: 700px;
        margin: 20px 17px 0 0;
        display: inline-block;
    }

    .info-col {
        width: 260px;
    }

    #main-photo-wrapper img {
        max-height: 700px;
        max-width: 700px;
    }
}

@media all and (max-width: 1023px) and (min-width: 961px) {
    .photo-col {
        width: 880px;
        margin: 20px 17px 0 0;
        display: inline-block;
    }

    .info-col {
        width: 260px;
    }

    #main-photo-wrapper img {
        max-height: 880px;
        max-width: 880px;
    }
}

@media all and (max-width: 1199px) and (min-width: 1024px) {
    .photo-col {
        width: 664px;
        margin: 20px 17px 0 0;
        display: inline-block;
    }

    #main-photo-wrapper img {
        max-height: 664px;
        max-width: 664px;
    }

    .info-col {
        width: 260px;
    }
}

@media all and (min-width: 1200px) {

    .container {
        width: 1180px;
    }

    .photo-col {
        width: 860px;
        margin: 20px 17px 0 0;
        display: inline-block;
    }

    #main-photo-wrapper img {
        max-height: 860px;
        max-width: 860px;
    }

    .info-col {
        width: 260px;
    }
}

.info-col {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.interim-info-card {
    padding: 10px;
    margin: 0 0 13px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px #dfdfdf;
}

.interim-info-card>h3 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: normal;
}

.interim-info-card {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}

.photo-page-card {
    min-width: 250px;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 13px;
    box-shadow: 0 2px 3px #dfdfdf;
    border-radius: 2px;
}

.interim-info-card>h2 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: normal;
}

#user_page-map_card {
    width: 100%;
    height: 190px;
}

.user-page_main-header_card {
    width: 46%;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    height: 140px;
    vertical-align: top;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px #dfdfdf;
    position: relative;
    float: left
}

.user-page_main-header_card_stats {
    float: right
}

#user_profile_info {
    display: inline-block;
    vertical-align: top;
}

.user-page_profile_info {
    margin: 7px 10px 0 0;
    display: inline-block;
    vertical-align: top;
}

.user-page_main-lede {
    font-size: 20px;
    font-weight: normal;
}

#user_header {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
}

#top-line-stats {
    margin: 5px 10px;
}

.user-page_top-line-stat {
    display: inline-block;
    margin-right: 20px;
}

.user_page-profile_img {
    margin: 10px;
    border-radius: 4px;
}

/************************************************************/
.photo-upload-ok {
    background-color: #47a447;
    border-radius: 4px;
}

.bootstrap-tagsinput {
    padding: 1px;
    margin: 0;

}

/****************************************************/
.navbar-brand {
    padding: 5px;
    height: 50px;
}
.navbar-logo {
    width: 130px;
    height: 90%;
}

.paginator-wrapper {
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.panoramio-wapi-photolist .panoramio-wapi-loaded-img-div, .panoramio-wapi-photolist .panoramio-wapi-empty-img-div {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

#interim-tags li {
    display: inline;
    list-style-type: none;
}

#interim-tags li:before {
    content: " \002022 ";
}